[2019-09-26 13:00] madiedgar opened #2 "style: add linting"
## Linting

Being able to have formatted code that is aligned with the style guide will be important in the future. However, this might take additional time to make sure the linters apply to "Legesher" grammar and not just "Python" or "Javascript" grammar.

This quote from [stack overflow](https://stackoverflow.com/questions/48363647/editorconfig-vs-eslint-vs-prettier-is-it-worthwhile-to-use-them-

[2019-09-26 14:25] madiedgar opened #3 "marketing: add repository to "awesome-for-non-programmers""
## Awesome-For-Non-Programmers

Would love to add this repository to the [`awesome-for-non-programmers`](https://github.com/szabgab/awesome-for-non-programmers) repository for non programmers to learn about open source opportunities that don't require a technical background.

With the Legesher project, there are a lot of opportunities for people of all backgrounds to contribute the skills they eit

[2019-09-29 04:02] madiedgar opened #5 "💻 🎃 Welcome to Hacktoberfest 2019🎃 💻"
![image](https://user-images.githubusercontent.com/7844510/65824802-ae32f100-e23c-11e9-838a-dc28384dcce7.png)

# Welcome to [Hacktoberfest](https://hacktoberfest.digitalocean.com/)
..and welcome to our community! So many fun things to get into this Hacktoberfest like [adding translations for your native written language 🌏 ](https://github.com/legesher/legesher-translations), [sharpening & sharing

[2019-09-29 17:06] LoLei opened #6 "Am I going crazy or is this repo empty?"
I'd like to contribute, but I can't find a `guide` directory in this repo as described in the Readme, or anything apart from the GitHub bot files. Am I blind, or is this just still in the process of being set up for Hacktoberfest?

[2019-09-29 18:17] madiedgar commented on #6
Hi @LoLei 👋, thanks so much for reaching out and wanting to contribute! Thank you so much for your patience, for this repository is still being prepped for Hacktoberfest. In the meantime, what are some areas you are wanting to contribute / grow / learn? I'll keep you in mind as I'm preparing issues 😄

[2019-09-29 19:25] LoLei commented on #6
Okay, that's what I was thinking. I could definitely provide translations for German, and whatever there is to do in Python I'll check out too!

[2019-09-29 19:25] #6 closed

[2019-09-29 19:26] madiedgar commented on #6
That would be AMAZING @LoLei!! I'll let you know when there are things in the pipeline for you 😄

[2019-10-03 15:25] madiedgar opened #7 "docs: update README with new project list"
## Update README with new project list

Yay for updated documentation! We added a new repository just for non-programmers and thus need to update our repositories project list with the new information! 🎉

The [Legesher Projects](https://github.com/legesher/legesher-translations#legesher-projects) section of the README needs to be updated in the following ways:

- [ ] Add the `legesher-pride` repos

[2019-10-03 17:40] fernandasj commented on #7
I'm working this :heart:

[2019-10-03 17:41] madiedgar commented on #7
Amazing!! I'll assign you to this 😄

[2019-10-03 17:50] fernandasj commented on #7
I submitted a pull request :smile:

[2019-10-03 17:51] #7 closed

[2019-10-03 18:00] fernandasj commented on #3
Are you referring to adding this repo to the table in the Legesher Projects section?

[2019-10-03 18:21] madiedgar commented on #3
The other way around! This would involve making a pull request in the `awesome-for-non-programmers` repository to include the `legesher-translations` repository. There should be some other pull requests from other Legesher contributors (see [#20](https://github.com/szabgab/awesome-for-non-programmers/pull/20) and [#19](https://github.com/szabgab/awesome-for-non-programmers/pull/19))

[2019-10-03 18:29] fernandasj commented on #3
I understood!! Should the pull request text be the same as the issue?

[2019-10-03 18:30] madiedgar commented on #3
Oh! Yes - that would be wonderful! 😄 Thank you!!

[2019-10-03 18:44] fernandasj commented on #3
YAY!! Ok :heart:

[2019-10-03 18:55] fernandasj commented on #3
[Pull Request Resolves](https://github.com/szabgab/awesome-for-non-programmers/pull/27) :heart:

[2019-10-03 19:10] madiedgar commented on #3
Amazing!! Thank you so much! I'm going to close this issue. Please be sure to fill out [this form](https://madi357705.typeform.com/to/wzub4R) so I can formally thank you for your contribution.  🎉

[2019-10-03 19:10] #3 closed

[2019-10-03 19:17] fernandasj commented on #3
I answered the form right now !! :heart: thank you!

[2019-10-04 02:03] madiedgar opened #9 "Add New Dialect: Portuguese (Python)"
## Adding Portuguese to the Legesher Translations for Python
Version 1 of Legesher only includes translations for the Python programming language. In order to add this language to the project, complete the steps detailed in [the translation guide](https://legesher.readme.io/docs/translation-guide)

### Reviewers Needed
In order to add the translations into our database to use, the translations wil

[2019-10-04 15:04] madiedgar commented on #9
This is a translation from Davi via email (we're still introducing him to GitHub :smile:)

Truth Values
	•	  True- adjetivo/nome: verdade: verdadeiro / exato, fiel / certo. Adjective/noun: true: trustworthy, trustful/ exact, faithful/ correct.
	•	  False- adjetivo: falso, ilusório / vão / vazio de significado / enganoso, enganador / plagiado / mentiroso / artificial / inconfiável. adjective: false

[2019-10-04 16:39] madiedgar opened #10 "Add New Dialect: Ukrainian (Python)"
## Adding Ukrainian to the Legesher Translations for Python
Version 1 of Legesher only includes translations for the Python programming language. In order to add this language to the project, complete the steps detailed in [the translation guide](https://legesher.readme.io/docs/translation-guide)

**To complete this issue**:
- [ ] Create ukrainian dialect `.yml` file
- [ ] Enter translation for _a

[2019-10-04 16:41] madiedgar opened #11 "Add New Dialect: German (Python)"
## Adding German to the Legesher Translations for Python
Version 1 of Legesher only includes translations for the Python programming language. In order to add this language to the project, complete the steps detailed in [the translation guide](https://legesher.readme.io/docs/translation-guide)

**To complete this issue**:
- [x] Create german dialect `.yml` file
- [x] Enter translation for _at leas

[2019-10-04 17:30] madiedgar commented on #11
hey @LoLei 👋, have a fun opportunity for you!

[2019-10-04 18:01] LoLei commented on #11
Thanks for the notification, I'll keep this in mind, can't promise I can do it quickly though.

[2019-10-04 19:10] madiedgar commented on #11
No worries! These translation issues will take a little more time, even if its just the Python keywords! Trying to have more people tackle this with you, so you don't get overwhelmed with the translation. 😄

[2019-10-05 18:58] ZeroOne010101 commented on #11
Hi! I am a Native speaker from Germany and am looking for things to do for Hacktoberfest.

Just to clarify up front:
I know nothing about this Project,.
I am self taught so i may not know the correct technical terms.
I am currently very stressed with exams and life in general so i will not be able to work on this on a regular basis.

Now that that's out of the way: Hi, im zero and want to work wit

[2019-10-05 19:33] madiedgar commented on #11
Hi @ZeroOne010101 👋 We're happy to have you here! My hope is that this project isn't another stress to your day, but a form of release and something that brings joy! ✨

All of the `legesher` repositories work together in some way. These translations are critical in allowing developers to code in their native language. When version 1 is released, developers will have the ability to take this python

[2019-10-05 19:45] ZeroOne010101 commented on #11
@madiedgar Just one question for now: Should i work towards one big PR , a couple small ones or in a fork and then transfer the final product via PR?
Im getting started right away!

[2019-10-05 20:46] ZeroOne010101 commented on #11
Im done with the first pass, some things sound really weird, while others dont really have a translation. should i just keep those in english?

[2019-10-05 20:55] madiedgar commented on #11
@ZeroOne010101 great question - what if I create a `german-translation` fork on the repo and you can add incremental pull requests to that specific branch. That way if more people want to add to the translation, they can help on that branch. When the translations get approved, merging the branch into master would mean it's ready to be used across the entire Legseher project!  How does that sound?

[2019-10-05 21:00] ZeroOne010101 commented on #11
sounds good! im ready to PR whenever you are!

[2019-10-05 21:23] madiedgar commented on #11
@ZeroOne010101 awesome!! I made the `german-translation` branch, so feel free to add it there! 😄

[2019-10-05 21:31] ZeroOne010101 commented on #11
@madiedgar added #12

[2019-10-06 01:28] tomekp97 opened #14 "Add New Dialect: Polish (Python)"
Hiya! This project seems like an excellent idea and a brilliant way of teaching people to program!
If you think adding a Polish localisation would be useful, I'd be happy to help. :+1:

[2019-10-06 09:15] suparnasnair commented on #2
Hi @madiedgar, I'm a newbie to open source contribution, and would like to work on this in this HacktoberFest as a starting point.
Could you please tell me what exactly needs to be done here, I understand we need to use linting. So is the aim to use a linting library of Python and fix the common style issues?
Thanks!

[2019-10-06 17:47] wang-ories opened #16 "Page not found language-conventions"
Hi!
I found that this link [https://github.com/legesher/legesher/blob/master/.github/language-conventions.md](url) is not working. The file **language-conventions.md** is not found.

[2019-10-06 17:52] wang-ories opened #17 "Add new Dialect: French(Python)"
Hello @madiedgar, I would like to contribute with french translation if needed.

[2019-10-06 18:06] JekRock commented on #10
@madiedgar Hi!
I'm a native Ukrainian and Russian speaker. Let me know if I can help with translation.

[2019-10-07 19:26] madiedgar commented on #17
Hey @wang-ories 👋! This would be absolutely amazing!! Here's some information on where to start!

## Adding French to the Legesher Translations for Python
Version 1 of Legesher only includes translations for the Python programming language. In order to add this language to the project, complete the steps detailed in [the translation guide](https://legesher.readme.io/docs/translation-guide)

**To c

[2019-10-07 19:27] madiedgar commented on #10
Hi @JekRock!! This would be amazing 😄! I updated the issue description with a few tips on how to get started, but let me know if you have any questions.

[2019-10-07 19:31] madiedgar commented on #14
That would be amazing @tomekp97! That's exactly our heart behind what we do 😄. Here are some instructions on how to add Polish to this repository.

## Adding Polish to the Legesher Translations for Python
Version 1 of Legesher only includes translations for the Python programming language. In order to add this language to the project, complete the steps detailed in [the translation guide](https://

[2019-10-07 20:11] madiedgar commented on #16
Oooh! Thank you so much for finding this 🙈I definitely did not commit the file. I'll add this to the repo 👍

[2019-10-07 22:33] wang-ories commented on #17
Ok @madiedgar,
Of course I want to be one of the reviewers for the french language.

[2019-10-08 03:01] madiedgar commented on #17
Awesome! Thanks @wang-ories! Would you like to help start us out in French by walking through the translation guide to add a French yml file and translations for the Python programming language? I created the `french-translation` branch to merge the changes into via PR. 😄

[2019-10-08 03:31] madiedgar commented on #2
Welcome @suparnasnair 👋! Happy to have you here and happy to help walk you through it! 😄

Great question 👍 So the aim is to use a linting library to fix common style issues. For this repository specifically, we have a couple of different programming languages represented: yml, json, and javascript. You can reference [this issue](https://github.com/legesher/legesher/pull/60) in the `legesher` repos

[2019-10-08 05:37] wang-ories commented on #17
Ok @madiedgar

[2019-10-08 21:40] tomekp97 commented on #14
Heya! So, I've finished the Polish translations for Python :tada: - this was a really fun thing to work on!

Couple of small things:

1) Can I get you to create a `polish-translation` branch that I can PR to, please?

2) I wasn't sure if I missed something during the forking/cloning but there wasn't a `locale` directory in my fork ([steps 1 & 2 of the translation guide](https://legesher.readme.io/

[2019-10-09 11:25] madiedgar commented on #14
Thank you so much @tomekp97 for this! I created the `polish-translation` branch for you and merged my branch with the `locale/` folder. 👍

[2019-10-09 11:36] madiedgar opened #20 "Add New Dialect: Russian (Python)"
## Adding Russian to the Legesher Translations for Python
Version 1 of Legesher only includes translations for the Python programming language. In order to add this language to the project, complete the steps detailed in [the translation guide](https://legesher.readme.io/docs/translation-guide)

**To complete this issue**:
- [x] Create Russian dialect `.yml` file
- [x] Enter translation for _at le

[2019-10-10 11:35] katherinefernandes commented on #9
Hey! I am new to open source programming. I forked the repository and cloned it so it could be in my desktop. I already changed some things in the file pt.yml. I can add Davi's translations as well, but I have a queston: How are you able to see my changes? Thanks in advance!

[2019-10-10 12:04] madiedgar commented on #9
Hey @katherinefernandes 👋, welcome to the wonderful world of open source! This would be really helpful! 👏, I'm going to assign you to this issue and change the status to `accepted`.

Next steps would go something like this:
- You'll want to create a branch within your forked repository
-  Commit those changes you just made to the branch ^
- Create a **pull request** on this repository comparing yo

[2019-10-10 16:51] ninoCan opened #24 "Add New Dialect: Italian (Python)"
Hello @madiedgar, I noticed that italian is missing amongst the languages, I would like to contribute in this way

[2019-10-13 14:12] Jam-Iko commented on #10
Hi, I am a native Ukrainian speaker. I can contribute to translating or if it is already done, I can help with review.

[2019-10-14 15:11] madiedgar commented on #10
That would be amazing @Jam-Iko! 👍 Both would be amazing (as there are quite a few programming languages to translate). Reviewing Python would be the biggest priority right now, but both are encouraged. Feel freet to take a look at the `ukrainian-translation` branch on the repo and add your translations / commentary accordingly 😄

[2019-10-14 15:14] madiedgar commented on #24
Absolutely @ninoCan!! That would be amazing 😄 Here are some details to add a new dialect.

## Adding Italian to the Legesher Translations for Python
Version 1 of Legesher only includes translations for the Python programming language. In order to add this language to the project, complete the steps detailed in [the translation guide](https://legesher.readme.io/docs/translation-guide)

**To complet

[2019-10-15 19:23] JekRock commented on #10
@Jam-Iko I think we need to sync our work just not to do the same task twice. I'll start the Python translation this weekend (sorry, I didn't have time to do it earlier). If you have time before the weekend, you can start the translation, and I'll review it. If you don't, we can do vice versa.

[2019-10-15 20:59] Jam-Iko commented on #10
@JekRock I plan to send in translation of keywords tonight and it will be great if you could review it.

[2019-10-15 21:21] Jam-Iko commented on #10
@madiedgar, hi! I have stumbled upon an issue. I have been working on a file `uk.yml` that has been created earlier in the `locale` directory, however this file contains only << Keywords >> section, although `language-keyword-template.yml` has additional << Built-In Functions >> block. Should I overwrite the old `uk.yml` file with a new one based on `language-keyword-template.yml`?

[2019-10-16 02:46] madiedgar commented on #10
Hey @Jam-Iko  👋! I created a branch `ukrainian-translation` a couple of days ago, but it definitely needs to be updated from the master branch. The file might have an older version of the template, so feel free to add in additional sections that aren't there currently. 👍 So excited for this collaboration!!

[2019-10-16 03:06] madiedgar commented on #24
Great job @ninoCan, I'm closing this issue as this was resolved in #25 & #26. I'll open up a translation review issue so we can merge in this wonderful work for people to use 👍

[2019-10-16 03:06] #24 closed

[2019-10-16 03:09] madiedgar commented on #17
Great job @wang-ories, I'm closing this issue as this was resolved in #22. I'll open up a translation review issue so we can merge in this wonderful work for people to use 👍

[2019-10-16 03:09] #17 closed

[2019-10-16 03:11] madiedgar commented on #14
Great job @tomekp97, I'm closing this issue as this was resolved in #21. I'll open up a translation review issue so we can merge in this wonderful work for people to use 👍

[2019-10-16 03:11] #14 closed

[2019-10-16 03:12] madiedgar commented on #11
Great job @ZeroOne010101, I'm closing this issue as this was resolved in #12 & #15. I'll open up a translation review issue so we can merge in this wonderful work for people to use 👍

[2019-10-16 03:12] #11 closed

[2019-10-16 03:13] madiedgar commented on #2
Hey @suparnasnair! Wanted to check up on you and see if you needed any help with this issue 😄

[2019-10-16 16:50] madiedgar opened #28 "Add New Dialect: Xhosa (Python)"
## Adding Xhosa to the Legesher Translations for Python
Version 1 of Legesher only includes translations for the Python programming language. In order to add this language to the project, complete the steps detailed in [the translation guide](https://legesher.readme.io/docs/translation-guide)

**To complete this issue**:
- [x] Create Xhosa dialect `.yml` file
- [x] Enter translation for _at least_

[2019-10-16 17:39] madiedgar opened #29 "Add New Dialect: Afar (Python)"
## Adding Afar to the Legesher Translations for Python

In order to add this language to the project, complete the steps detailed in [the translation guide](https://docs.legesher.io/legesher-translations/translation-guide). (We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages.)

**To complete this issue**:

- [x]

[2019-10-16 17:39] madiedgar opened #30 "Add New Dialect: Spanish (Python)"
## Adding Spanish to the Legesher Translations for Python
Version 1 of Legesher only includes translations for the Python programming language. In order to add this language to the project, complete the steps detailed in [the translation guide](https://legesher.readme.io/docs/translation-guide)

**To complete this issue**:
- [ ] Create Spanish dialect `.yml` file
- [ ] Enter translation for _at le

[2019-10-16 17:40] madiedgar opened #31 "Add New Dialect: Arabic (Python)"
## Adding Arabic to the Legesher Translations for Python
Version 1 of Legesher only includes translations for the Python programming language. In order to add this language to the project, complete the steps detailed in [the translation guide](https://legesher.readme.io/docs/translation-guide)

**To complete this issue**:
- [ ] Create Arabic dialect `.yml` file
- [ ] Enter translation for _at leas

[2019-10-16 17:41] madiedgar opened #32 "Add New Dialect: Welsh (Python)"
## Adding Welsh to the Legesher Translations for Python
Version 1 of Legesher only includes translations for the Python programming language. In order to add this language to the project, complete the steps detailed in [the translation guide](https://legesher.readme.io/docs/translation-guide)

**To complete this issue**:
- [ ] Create Welsh dialect `.yml` file
- [ ] Enter translation for _at least_

[2019-10-16 17:42] madiedgar opened #33 "Add New Dialect: Danish (Python)"
## Adding Danish to the Legesher Translations for Python
Version 1 of Legesher only includes translations for the Python programming language. In order to add this language to the project, complete the steps detailed in [the translation guide](https://legesher.readme.io/docs/translation-guide)

**To complete this issue**:
- [ ] Create Danish dialect `.yml` file
- [ ] Enter translation for _at leas

[2019-10-16 17:45] madiedgar commented on #5
For this repository specifically, if there is a language you would like to translate create an issue following this template below:

## Adding LANGUAGE to the Legesher Translations for Python
Version 1 of Legesher only includes translations for the Python programming language. In order to add this language to the project, complete the steps detailed in [the translation guide](https://legesher.read

[2019-10-16 19:19] geraldobraz commented on #9
Hi @madiedgar may I try to solve this issue too?

[2019-10-16 19:48] madiedgar commented on #9
Hey @geraldobraz 👋!  We would greatly appreciate that! I just merged @katherinefernandes's updates to the `portuguese-translation` branch so please feel free to complete this issue there! 👍 Let me know if you have any questions!

[2019-10-16 20:00] zoomstereo commented on #30
Hi, I'm a native Spanish speaker, I would like to work on the Spanish translations, I'm wondering if I can do a pull with partial translation of the template or I must do the full template translation to commit?

[2019-10-16 20:06] madiedgar commented on #30
Hey @zoomstereo 👋! Would love to have you join us! Our biggest priority right now is with translating _Python_. If you would be able to lead the translation of that programming language, that would be amazing!

Please use the full template file when creating the spanish dialect `.yml` file, but feel free to skip to the Python section and translate those keywords / builtin functions. If there is a

[2019-10-16 20:31] geraldobraz commented on #9
@madiedgar What do you expect to be done on the pt.yml file? Just a "simple" translate like:
"Hi": "Oi" or a full translate?

[2019-10-17 01:18] zoomstereo opened #34 "Inside locale, language-keyword-template.yml typo"
On line 1324, there's a typo in issubclass : "" \`\` , the \` \` I think it doesn't below there.

[2019-10-17 14:31] madiedgar opened #36 "Review Dialect: Ukrainian (Python)"
## Review Ukrainian Language Translations for the Python Programming Language

Version 1 of Legesher only includes translations for the Python programming language. In order to add this language to the project, complete the steps detailed in [the translation guide](https://legesher.readme.io/docs/translation-guide).

**Reviewing** a translation is extremely important as we want to best understand

[2019-10-17 14:42] asperduti commented on #30
Hi! @madiedgar  Can I made a contribution to this? Improving something of the job done by @zoomstereo and maybe another issue/pr for the C language? I'm a native Spanish speaker.
This will be my first contribution to a project.

[2019-10-17 14:45] madiedgar opened #37 "Review Dialect: Spanish (Python)"
## Review Spanish Language Translations for the Python Programming Language

In order to review this language to the project, complete the steps detailed in the [translation guide](https://docs.legesher.io/legesher-translations/translation-guide) (from Step # 6 onward). We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming l

[2019-10-17 14:50] madiedgar commented on #30
Amazing @asperduti! Happy to have you!

I just added #37 for reviewing the Python translation for Spanish. That might be a great place to start and then tackle another issue/pr after for C. 👏

[2019-10-17 14:51] madiedgar commented on #34
That would be awesome @charberg! I'll assign you to the issue 😄

[2019-10-17 14:53] madiedgar opened #38 "Review Dialect: Russian (Python)"
## Review Russian Language Translations for the Python Programming Language

Version 1 of Legesher only includes translations for the Python programming language. In order to add this language to the project, complete the steps detailed in [the translation guide](https://legesher.readme.io/docs/translation-guide).

**Reviewing** a translation is extremely important as we want to best understand th

[2019-10-17 14:53] madiedgar opened #39 "Review Dialect: Polish (Python)"
## Review Polish Language Translations for the Python Programming Language

In order to review this language to the project, complete the steps detailed in the [translation guide](https://docs.legesher.io/legesher-translations/translation-guide) (from Step # 6 onward). We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming la

[2019-10-17 14:54] madiedgar opened #40 "Review Dialect: Portuguese (Python)"
## Review Portuguese Language Translations for the Python Programming Language

Version 1 of Legesher only includes translations for the Python programming language. In order to add this language to the project, complete the steps detailed in [the translation guide](https://legesher.readme.io/docs/translation-guide).

**Reviewing** a translation is extremely important as we want to best understand

[2019-10-17 14:55] madiedgar opened #41 "Review Dialect: Italian (Python)"
## Review Italian Language Translations for the Python Programming Language

Version 1 of Legesher only includes translations for the Python programming language. In order to add this language to the project, complete the steps detailed in [the translation guide](https://legesher.readme.io/docs/translation-guide).

**Reviewing** a translation is extremely important as we want to best understand th

[2019-10-17 14:55] madiedgar opened #42 "Review Dialect: French (Python)"
## Review French Language Translations for the Python Programming Language

Version 1 of Legesher only includes translations for the Python programming language. In order to add this language to the project, complete the steps detailed in [the translation guide](https://legesher.readme.io/docs/translation-guide).

**Reviewing** a translation is extremely important as we want to best understand the

[2019-10-17 14:56] madiedgar opened #43 "Review Dialect: German (Python)"
## Review German Language Translations for the Python Programming Language

In order to review this language to the project, complete the steps detailed in the [translation guide](https://docs.legesher.io/legesher-translations/translation-guide) (from Step # 6 onward). We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming la

[2019-10-17 15:22] cos1715 commented on #36
I can take a look

[2019-10-17 15:27] #34 closed

[2019-10-17 15:28] madiedgar commented on #36
That would be amazing @cos1715!

[2019-10-17 15:35] Fayhen commented on #40
Olá!

I can work on this issue. I'm Brazilian and have an scientific academic background, being familiar with English for several years now. I'll do my best to give you the most accurate translations possible.

[2019-10-17 17:27] charberg commented on #42
@madiedgar Happy to volunteer as a reviewer for this! Which emoji did you want for 'unsure if translation'? On Chrome, I currently only see a box. (unless that's what's wanted!)

[2019-10-17 17:30] madiedgar commented on #42
That would be great @charberg! That's interesting, use the 🤔 `:thinking:` face for unsure translations!

[2019-10-17 17:37] charberg commented on #42
Sure thing! Hopefully it parses out properly.

Another quick question: If I think I have a better translation, do I make the change followed by a ?, a ✓, or no change and just a ? @madiedgar

[2019-10-17 17:38] madiedgar commented on #9
Hey @geraldobraz 👋 I'll update the issue description, but a simple translation is fine! The only programming language we _need_ now is Python, but feel free to do more. We might do a simple way to translate duplicates in later issues. 👍

[2019-10-17 17:43] madiedgar commented on #42
If you have a better translation, here's the best way to approach it.

`keyword: "NEWTRANSLATION" # move the OLDTRANSLATION here with a bit of commentary if applicable`

[2019-10-17 17:45] charberg commented on #42
Excellent, thanks!

[2019-10-17 18:34] GiacomoPignoni commented on #41
I will take this

[2019-10-17 18:47] Fayhen commented on #40
@madiedgar, I went ahead and made some sample translations for the Python code by going through the documentation, for comparing upon reviewing. I just noticed that `pt.yml` on both the
`master` and `portuguese-translation` branches is still missing Python translations, however. Should I wait them out?

If you want, I can add these ready Python translations to an `portuguese-translation-additional

[2019-10-17 19:23] charberg commented on #42
@madiedgar [https://github.com/legesher/legesher-translations/pull/47](PR submitted!) Let me know if you'd like any styling changes on the comments, I tried to be thorough. Perhaps future reviewers should be recommended to join the discord channel - would be interesting to discuss with whoever takes a look next!

[2019-10-17 19:50] madiedgar commented on #41
Awesome @GiacomoPignoni ! I'll assign you as one of the reviewers 👍

[2019-10-17 19:59] madiedgar commented on #42
I love that idea! Thank you so much for your contribution and enthusiasm 😄

[2019-10-17 20:30] madiedgar opened #48 "Update Dialect List"
## Update Dialect List

The dialect list in the [`locale/dialect-list.yml`](https://github.com/legesher/legesher-translations/blob/master/locale/dialect-list.yml). It would be extremely helpful to update this list with the content found in the `English Language Name` column so we can properly refer to them in the issues.

We've used [this](https://meta.wikimedia.org/wiki/Template:List_of_language_

[2019-10-17 20:52] KChantal commented on #42
Hi! I'd like to have a go at reviewing, if you 're still after someone to take a look? 😄

[2019-10-17 21:04] jonnyfluckey commented on #48
I'm willing to give this one a try!

[2019-10-17 21:56] madiedgar commented on #42
Absolutely!! Still need at least 2 more reviewers 😄

[2019-10-17 22:00] madiedgar commented on #48
Awesome @jonnyfluckey! That would be amazing!! 👍

[2019-10-17 22:17] madiedgar commented on #40
Thank you for being so thorough with this @Fayhen! Let me merge #50 from @marcuscastelo and that should give a great place to start reviewing. 👍

[2019-10-17 23:43] KChantal commented on #42
@madiedgar Great! I might be looking in the wrong place, but where can I find the .yml file for French? In the locale/ folder I'm only seeing the dialect-list.yml, en.yml, uk.yml, etc.

[2019-10-17 23:45] charberg commented on #42
Hey @KChantal! Make sure you're on the french-translate branch of the project, it's in there, as fr.yml. You can see my recent PR is into it as well.

Feel free to ping me here or on the Discord channel if you want to discuss any particular terms.

[2019-10-17 23:48] KChantal commented on #42
Thank you @charberg! I was in the wrong branch 🤦‍♀

[2019-10-17 23:58] geraldobraz commented on #9
@madiedgar I just made a PR to check if the translations are the way you expect to be done  😄. Also, you wrote in the issue that reviewers are needed, I'm native so may I help you wit that?

[2019-10-18 01:16] Fayhen commented on #40
A PR is coming your way shortly. Since there were a few existing comments on the current translations, I attempted to preserve readability by breaking each contributor's comments into new lines, indented below each word. I have also added my nick to my comments, to have clear communication if needed. Finally, I commented a suggestion on some words lacking translation as well.  All of these are jus

[2019-10-18 01:39] madiedgar commented on #40
👍  This would be really helpful for additional reviews 😄

[2019-10-18 15:12] cos1715 commented on #36
Created PR
pls check

[2019-10-18 15:51] jonnyfluckey commented on #48
#55
Thanks for the opportunity to work on this. I would love to find more ways to contribute, as this is a great cause

[2019-10-18 15:58] bartekprzadka commented on #39
Hi, I'd love to help you with it ;)

[2019-10-18 16:02] madiedgar commented on #48
Thank you!! 🎉 & we would love that @jonnyfluckey! Is there something specific you'd like to grow in / language you'd like to focus on? I can keep you in mind for future issues 😄

[2019-10-18 16:03] madiedgar commented on #39
That would be lovely @bartekprzadka!!

[2019-10-18 16:11] bartekprzadka commented on #39
What form should be the given words? General translation or as the commands for a user?

[2019-10-18 18:03] madiedgar commented on #39
Great question, this project's main goal is to remove the language barrier for coding. The translations should more so be for the functionality of the keyword, not necessarily a 1:1 translation. Google translate is great, but understanding the context behind the language / culture might bring a better translation of the word.

Hope this makes sense!

[2019-10-18 18:07] jonnyfluckey commented on #48
@madiedgar ,

I'm pretty open to learning new things. My front-end strengths are in React, but I have also dabbled in Angular and am interested in learning that and Typescript more.

Back-end, I have dabbled in basic Node servers with Express,  but would love the chance to learn more about it and dig deeper into some of those concepts.

Either way, I'm open to contributing in any way that I can :)

[2019-10-19 14:56] madiedgar commented on #38
hey @startonmonday 👋 would love your help on this!

[2019-10-19 15:26] #48 closed

[2019-10-20 16:39] Pervicorn commented on #39
Hey, I also would love to help with this one :)

[2019-10-20 19:45] madiedgar commented on #39
That would be amazing @Pervicorn 🎉

[2019-10-21 12:47] kartoniks commented on #39
I submitted a review in https://github.com/legesher/legesher-translations/pull/69

[2019-10-21 19:52] Pervicorn commented on #39
I've made a pull request, hope it's fine

[2019-10-22 00:21] madiedgar opened #75 "Add CONTRIBUTING.md file"
Add a `CONTRIBUTING.md` file in the root of the repository that contains this content:

[code]

Simple enough 👍 Please ask to be assigned to this issue so we don't have duplicates 😄

[2019-10-22 00:29] locemarn commented on #75
can i get this one?

[2019-10-22 00:29] madiedgar commented on #75
Absolutely @locemarn! I'll assign you to it!

[2019-10-22 08:00] OleksiyRudenko commented on #20
@madiedgar can you please clarify the translation strategy?
English version just dubs the keywords. From the other hand literal translation of terms like `elif` doesn't make much sense 'cause `elif` is not a word from the natural English language. Should the translation be an explanation of the keyword?

Which of the options below would match better?
[code]

It seems like this unclarity might be a

[2019-10-22 13:09] valdeadmario commented on #36
Can i take this?

[2019-10-22 15:58] madiedgar commented on #36
Absolutely @valdeadmario! Would love your help on this 👍

[2019-10-22 16:17] reegoram commented on #37
Hello @madiedgar, I'd like to contribute with the revision as well 😄
I'm native Spanish speaker.

[2019-10-22 16:21] madiedgar commented on #37
That would be amazing @reegoram!! 🎉

[2019-10-22 16:23] madiedgar commented on #31
I'm closing this issue as we are onto reviews now 🎉 Thank you @ghalyahf and @karimelazzouni for your contributions!

[2019-10-22 16:23] #31 closed

[2019-10-22 16:24] madiedgar commented on #9
Closing this issue as we are now on to reviews! 🎉 thanks @geraldobraz, @katherinefernandes and @fayhen for your contributions!

[2019-10-22 16:24] #9 closed

[2019-10-22 16:25] madiedgar commented on #10
Closing this issue as we are now on reviews! 🎉 thank you @JekRock & @Jam-Iko for your contributions!

[2019-10-22 16:25] #10 closed

[2019-10-22 16:25] madiedgar commented on #30
Closing this issue as we are now onto reviews ! 🎉  thank you @zoomstereo and @asperduti for your contribtions!

[2019-10-22 16:25] #30 closed

[2019-10-22 22:01] Grigory57 commented on #38
Hello. I would like to work on this.

[2019-10-23 01:04] kararade commented on #37
hey @madiedgar I would like to contribute as well, I'm a native Spanish speaker too 😆

[2019-10-23 02:28] kararade commented on #37
I have this ready!

[2019-10-23 11:39] madiedgar commented on #37
Awesome @kararade! Happy to have you!

[2019-10-23 13:17] madiedgar opened #80 "Review Dialect: Arabic (Python)"
## Review Arabic Language Translations for the Python Programming Language

Version 1 of Legesher only includes translations for the Python programming language. In order to add this language to the project, complete the steps detailed in [the translation guide](https://legesher.readme.io/docs/translation-guide).

**Reviewing** a translation is extremely important as we want to best understand the

[2019-10-23 13:42] madiedgar commented on #20
@OleksiyRudenko would love to know your thoughts for words like `elif`! Want to help us get started for Russian? 👍

Also Ukrainian is almost finished with it's review phase, would love your help to complete it! 😄

[2019-10-23 13:44] madiedgar commented on #28
@zolumasoft would love your help on this to get us started with this dialect! 😄

[2019-10-23 13:49] madiedgar commented on #20
@startonmonday oops, mentioned you on the `Review Dialect` issue for Russian (#38) when this one is still open. This would be where you could start! 👍

[2019-10-23 13:56] KChantal commented on #20
Hi @madiedgar ! I noticed that this issue has been a little quiet. I'm not entirely native in Russian, but I could certainly help to get the translation started, if it hasn't been claimed or started yet?

[2019-10-23 14:29] madiedgar commented on #20
Thanks @KChantal! That would be amazing 👏Go for it! 😄

[2019-10-23 14:45] madiedgar opened #83 "bug: CI/CD Unibeautify Error w/ Linting"
### Unibeautify Error in CI/CD

Here's an example of one of the errors we've run into for pull requests given by unibeautify.
[code]
The error continues:
[code]

This error should be resolved by adding the Unibeautify config file! 👏 #81

[2019-10-23 14:46] #83 closed

[2019-10-23 15:24] startonmonday commented on #38
Should it be one word = one word or maybe a whole phrase?

[2019-10-23 15:37] madiedgar commented on #38
Hey @startonmonday 👋 Great question! That's where the fun part comes in. 😄 Take `elif: ""` for example - it's a combination of two words in a weird way.  Let's start with a whole phrase and when reviewers come together we can narrow it down to one "word" (or collection of characters like "elif").

Would love your thoughts on how we can best utilize the words to best describe the functionality of t

[2019-10-24 16:36] madiedgar opened #86 "Review Dialect: Tagalog (Python)"
## Review Tagalog Language Translations for the Python Programming Language

Version 1 of Legesher only includes translations for the Python programming language. In order to add this language to the project, complete the steps detailed in [the translation guide](https://legesher.readme.io/docs/translation-guide).

**Reviewing** a translation is extremely important as we want to best understand th

[2019-10-24 16:36] bhadreshpsavani commented on #75
Hello @locemarn and @madiedgar, Is it still open?
Can I complete it?

[2019-10-24 16:52] madiedgar commented on #75
Hey @bhadreshpsavani 👋 Thanks for checking up on this 👍 @locemarn has an open pr (#76), but it has some a minor change to be implemented. I'll give him one more day to work on the changes, and then I'll open up the issue again for you.

In the meantime, if you know another language, we'd love to add it to our translations. 😄 I can walk you through it all!

[2019-10-24 17:22] madiedgar opened #88 "Add Current Languages in Development to README"
## Add New Languages to Current Development in README

Hacktoberfest has been AMAZING and we've started a lot of development for new languages! It's about time to update our README to include such amazing progress!

In [this section](https://github.com/legesher/legesher-translations#languages-in-active-development) of the README, there is a list of languages we are currently developing in.

**To c

[2019-10-24 18:26] annahayhurst commented on #88
Hi! I would be happy to work on this 😄

[2019-10-24 19:47] madiedgar commented on #88
That would be amazing @annahayhurst 👏 I'll assign you to it!

[2019-10-24 23:08] madiedgar commented on #16
Hey @wang-ories 👋 I finally got the file added to the repository, but it's in a different location than described in the link. Would you mind updating the `README.md` in this repo with the new link?

`https://github.com/legesher/legesher/blob/master/LANGUAGE_CONVENTIONS.md`

[2019-10-25 00:38] geraldobraz commented on #40
Hello! @madiedgar I can work on this issue too 😄

[2019-10-25 01:02] sime1 commented on #41
I'd like to take this

[2019-10-25 02:51] bhadreshpsavani commented on #75
Hello @mandiedgar,
I know Hindi and Gujarati as well,
Can I help you with translation to this language?

[2019-10-25 02:56] wang-ories commented on #16
Ok @madiedgar, I can take this up.

[2019-10-25 06:11] daya2940 commented on #88
i would also like to work on this

[2019-10-25 08:09] madiedgar commented on #88
Hey @daya2940 👋 Thanks for wanting to contribute! I forgot to close this issue, as it was resolved by @annahayhurst in #89.  🙊 Keep a look out on future issues though! 👍

[2019-10-25 08:09] #88 closed

[2019-10-25 08:12] madiedgar commented on #41
That would be wonderful @sime1! 👍

[2019-10-25 08:14] madiedgar opened #91 "Add New Dialect: Hindi (Python)"
## Adding Hindi to the Legesher Translations for Python
Version 1 of Legesher only includes translations for the Python programming language. In order to add this language to the project, complete the steps detailed in [the translation guide](https://legesher.readme.io/docs/translation-guide)

**To complete this issue**:
- [ ] Create Hindi dialect `.yml` file
- [ ] Enter translation for _at least_

[2019-10-25 08:22] madiedgar opened #92 "Add New Dialect: Gujarati (Python)"
## Adding Gujarati to the Legesher Translations for Python
Version 1 of Legesher only includes translations for the Python programming language. In order to add this language to the project, complete the steps detailed in [the translation guide](https://legesher.readme.io/docs/translation-guide)

**To complete this issue**:
- [ ] Create Gujarati dialect `.yml` file
- [ ] Enter translation for _at

[2019-10-25 18:01] wang-ories commented on #16
Hi @madiedgar, I created a PR here #94.

[2019-10-26 13:55] jayehernandez commented on #86
Hi @madiedgar, I'd love to take a shot at reviewing this, will open up a PR!

[2019-10-27 04:15] parammittal16 commented on #91
@madiedgar can i take this ?

[2019-10-27 05:27] madiedgar commented on #91
Absolutely @parammittal16! That would be amazing!! 👏

[2019-10-27 05:28] madiedgar commented on #86
That would be amazing @jayehernandez, and yes please add in the Python built-in functions in your PR as well! 😄

[2019-10-27 05:37] madiedgar commented on #28
Thanks so much for your work on this @zolumasoft! Closing this and adding a review issue to have more collaborators on this language! 😄 Thanks for getting it started!

[2019-10-27 05:37] #28 closed

[2019-10-27 05:39] madiedgar opened #97 "Review Dialect: Xhosa (Python)"
## Review Xhosa Language Translations for the Python Programming Language

Version 1 of Legesher only includes translations for the Python programming language. In order to add this language to the project, complete the steps detailed in [the translation guide](https://legesher.readme.io/docs/translation-guide).

**Reviewing** a translation is extremely important as we want to best understand the

[2019-10-27 05:52] kichloo commented on #91
@madiedgar Can I work on it parallely too and I want to become the reviewer for Hindi language.
Thanks

[2019-10-27 05:57] madiedgar commented on #91
That would be lovely @kichloo! After @parammittal16 submits the initial translation, then you can get going on reviewing the Python language keywords / built-in functions and/or adding new language translations to be reviewed 😄 I'll create a "Review Dialect: Hindi (Python)" issue with more information once this is merged in!

[2019-10-27 06:09] kichloo commented on #91
Ok!

[2019-10-27 06:57] bvishal8510 commented on #92
@madiedgar may I do this?

[2019-10-27 07:20] madiedgar commented on #92
Absolutely! That would be amazing @bvishal8510!

[2019-10-27 07:30] madiedgar commented on #92
I apologize for my ignorance @bvishal8510, but would love to learn a little more!

This dialect was suggested in another issue (which is amazing), but it's not currently in `legesher-translations/locale/dialect-list.yml`. The source we first curated the list from was a starting point, but curious if it be referenced to as another name. If not, could you add the dialect to the `dialect-list.yml` fi

[2019-10-27 07:35] madiedgar commented on #32
Hey @ajtrichards, what about this? 😄

[2019-10-27 07:36] ajtrichards commented on #32
I’ll take this one :)

[2019-10-27 07:36] madiedgar commented on #32
Awesome @ajtrichards, I'll assign you to it!

[2019-10-27 12:15] GauravMohla commented on #75
@madiedgar If needed, I can translate CONTRIBUTING file to German/French language (or both :))

[2019-10-27 12:55] JohannaHillebrand commented on #43
Do you still need help with reviewing the translations? I'm a native-german-speaker and would like to contribute :)

[2019-10-27 14:28] madiedgar commented on #75
oh wow!!! I hadn't thought of that @GauravMohla. Definitely would be something in the future, but we're still narrowing down the guidelines and wouldn't those changes to disrupt your translations.

However, would love your thoughts / translations for those languages in the `locale/` folder. See #42 and #43! You can review current translations or add new translations for other programming languages

[2019-10-27 14:31] madiedgar commented on #16
Closing this as it was resolved in #94 🎉

[2019-10-27 14:31] #16 closed

[2019-10-27 14:32] madiedgar commented on #43
Yes @JohannaHillebrand! Still looking for reviewers for this repo!

[2019-10-27 14:33] madiedgar commented on #20
Closing this issue as it was resolved by #84 by @KChantal 🎉

[2019-10-27 14:33] #20 closed

[2019-10-27 14:36] madiedgar commented on #32
Closing this as it was resolved by @ajtrichards in #98. 🎉

[2019-10-27 14:36] #32 closed

[2019-10-27 14:38] madiedgar opened #99 "Review Dialect: Welsh (Python)"
## Review Welsh Language Translations for the Python Programming Language

Version 1 of Legesher only includes translations for the Python programming language. In order to add this language to the project, complete the steps detailed in [the translation guide](https://legesher.readme.io/docs/translation-guide).

**Reviewing** a translation is extremely important as we want to best understand the

[2019-10-27 15:08] madiedgar opened #100 "Add New Dialect: Romanian (Python)"
## Adding Romanian to the Legesher Translations for Python
Version 1 of Legesher only includes translations for the Python programming language. In order to add this language to the project, complete the steps detailed in [the translation guide](https://legesher.readme.io/docs/translation-guide)

**To complete this issue**:
- [ ] Create Romanian dialect `.yml` file
- [ ] Enter translation for _at

[2019-10-27 15:08] madiedgar commented on #100
Hey @rominacarabathampi this might be a great place to start! 😄

[2019-10-27 17:30] merelyAnna commented on #43
I am also a native-german speaker and am happy to help out if more help is needed :)

[2019-10-27 18:36] GauravMohla commented on #75
Maybe I can look into translations once I the guidelines are formalized.

I will try to add some translations to other programming language for sure :)

[2019-10-27 18:37] JohannaHillebrand commented on #43
If I agree with an alternative suggestion someone made, should I change that one or put a ✅ behind the alternative? I'm just asking, because this might get quite messy.. ;)

[2019-10-27 19:02] JohannaHillebrand commented on #11
I reviewed the translation and there are some inconsistencies. In German nouns should have a an uppercase initial letter. Sometimes this is done, sometimes not.
Also in German you often need to use two words, where only one suffices in English.
Sometimes those two words are just put together and sometimes CamelCase is used.
If you guys tell me, what would be preferred, I could change that, so it i

[2019-10-28 03:39] madiedgar commented on #11
Such interesting facts about the German language! Thank you so much for sharing this! Definitely would be something to discuss further 😄

[2019-10-28 15:21] rominacarabathampi commented on #100
Great! Thank you!

[2019-10-28 22:32] chauxvive commented on #75
Hello, didn't look like anyone had done this still, so here it is. Happy #hacktoberfest!

[2019-10-29 03:02] madiedgar commented on #75
Resolved in #107

[2019-10-29 03:02] #75 closed

[2019-10-29 19:53] Yutyo opened #108 "Add New Dialect: Turkish (Python)"
Hi, I wanna do Turkish translation. How can I do it? There isn't a guide folder as it is said in the readme.md.

[2019-10-30 21:48] diana48 commented on #43
Do you still need someone to review? I'm also a native German speaker and would love to help out!

[2019-10-31 14:17] madiedgar commented on #43
Yes @diana48, that would be amazing!! 👍

[2019-10-31 15:19] #92 closed

[2019-10-31 16:31] madiedgar opened #113 "Review Dialect: Gujarati (Python)"
## Review Gujarati Language Translations for the Python Programming Language

Version 1 of Legesher only includes translations for the Python programming language. In order to add this language to the project, complete the steps detailed in [the translation guide](https://legesher.readme.io/docs/translation-guide).

**Reviewing** a translation is extremely important as we want to best understand t

[2019-10-31 18:23] parammittal16 opened #115 "Issue in py translation"

[2019-10-31 21:27] madiedgar commented on #108
Closing this and adding a new review issue 👏 Thanks @Yutyo for #117

[2019-10-31 21:27] #108 closed

[2019-11-06 04:46] madiedgar commented on #5
Thank you so much for a successful hacktoberfest!! This was amazing 👏

[2019-11-06 04:46] #5 closed

[2019-11-11 16:52] rominacarabathampi commented on #100
@madiedgar I have translated the Python part - except for functions as they should stay as they are since programming languages are English-based. I am slowly translating the other packages as well.
https://github.com/rominacarabathampi/legesher-translations/blob/master/locale/ro.yml

[2019-11-13 03:16] madiedgar commented on #100
Hey @rominacarabathampi thank you so much for all your hard work and diligence!

You bring up a great point with programming languages being English-based. That's actually the mission behind Legesher is to allow you to code _fully_ in your native language and be able to collaborate with others!

With that being said, completing translations for the function name would be incredibly helpful! 😄 Than

[2019-11-13 04:26] rominacarabathampi commented on #100
Hi @madiedgar sorry about that, I will translate all the functions in Romanian.
Will start with Python then focus on the other languages.

Should I submit the finalized file ( all the translations) or can I submit multiple times (as I am making progress)? That way others can work in it too (if there are others). It's currently forked in my github and I am translating locally.

[2019-11-15 17:47] madiedgar commented on #115
This was resolved with [this commit in hindi-translation](https://github.com/legesher/legesher-translations/commit/989ee65bd8258cf58d1fa70d196a2fabe2addcca) and [this commit in gujarati-translation](https://github.com/legesher/legesher-translations/commit/2a8d61419c2d16c93688e5768696adb355a14ff3) 🎉

[2019-11-15 17:47] #115 closed

[2019-11-15 17:49] madiedgar commented on #100
No worries @rominacarabathampi 😄 That would be great! You can submit as you go, preferably with at least one full programming language completed with each PR. 👏 Thank you again!!

[2019-11-15 17:53] madiedgar commented on #2
Closing this as #81 resolved the issue 👍

[2019-11-15 17:53] #2 closed

[2019-11-15 17:57] madiedgar commented on #91
🎉 YAY we now have the initial hindi translations available thanks to @parammittal16 👏 Time to start a review issue 👍

[2019-11-15 17:57] #91 closed

[2019-11-15 17:59] madiedgar opened #121 "Review Dialect: Hindi (Python)"
## Review Hindi Language Translations for the Python Programming Language

In order to review this language to the project, complete the steps detailed in the [translation guide](https://docs.legesher.io/legesher-translations/translation-guide) (from Step # 6 onward). We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming lan

[2019-11-26 02:43] madiedgar opened #123 "Update link in github config"
**Update Github Config Link**
The link in the `.github/config.yml` is incomplete. Please update the link to include the `.html` extension at the end of the url.

It should look like this:

[code]

[2019-12-03 00:13] arjunshekhawat5 commented on #123
Hello, Can I be assigned to this issue. I am new to open source and would love to make my first open source contribution to this project.
Thank you

[2019-12-04 18:35] madiedgar commented on #123
Hey @arjunshekhawat5 👋 That would be amazing!! I'll assign you to it! If you need any help, feel free to reach out 😄

[2019-12-05 14:32] madiedgar commented on #123
Closing this as it was resolved by @arjunshekhawat5 in #124

[2019-12-05 14:32] #123 closed

[2020-01-14 18:40] cedarfall commented on #121
I could help as Reviewer 1 for this. @madiedgar reviewers just have to add a comment with ✅, ❓, 🤔 depending on the translation after every word in the `locale/hi.yml` file in the `hindi-translation` branch right?

[2020-01-15 02:53] madiedgar commented on #121
Yes exactly @cedarfall! If you think there is a better translation then please mention it. 😄 Excited to see your contribution! 👍

[2020-02-14 17:46] nagendrady commented on #121
hi,iam new to open source development .but iam intrested to code for this.can u help with this.

[2020-02-15 08:27] cedarfall commented on #121
@nagendrady yes sure, we will help you out. Feel free to comment here on any doubts you may have.

[2020-02-15 16:36] nagendrady commented on #121
@cedarfall @nagendrady can i any other editor other than Atom like visual studio code
?

[2020-02-15 16:41] cedarfall commented on #121
Yes @nagendrady you can use any editor. Also since this is a simple translation issue, you can also just edit the files on GitHub itself.

[2020-02-15 16:46] nagendrady commented on #121
@cedarfall how can i add words for telugu?

[2020-02-15 18:48] cedarfall commented on #121
@nagendrady this issue is for reviewing the Hindi translation. You can open a new issue for adding the Telugu language by following the steps as detailed in [the translation guide](https://legesher.readme.io/docs/translation-guide).

[2020-03-13 15:42] madiedgar commented on #121
Thanks @cedarfall for all your help! Definitely great resources to check out 😄

Hey @nagendrady! We can also set up a branch to get Telugu added to the list of languages 👍 I'll mention you on the new issues.

[2020-03-13 15:48] madiedgar opened #127 "Add New Dialect: Telugu (Python)"
## Adding Telugu to the Legesher Translations for Python

In order to add this language to the project, complete the steps detailed in [the translation guide](https://docs.legesher.io/legesher-translations/translation-guide). (We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages.)

**To complete this issue**:

- [

[2020-03-13 15:52] madiedgar commented on #127
Hey @nagendrady! Here's what you need to get started, let me know if you have any questions 👍

[2020-07-23 02:55] JJgar2725 commented on #37
Hello, @madiedgar! I'm familiar with this language and would be happy to contribute by reviewing.

[2020-07-23 03:09] JJgar2725 commented on #37
#134

[2020-10-02 03:50] madiedgar opened #136 "💻🍁 Welcome to Hacktoberfest 2020 💻🍁"
<img width="826" alt="Screen Shot 2020-10-01 at 11 45 35 PM" src="https://user-images.githubusercontent.com/7844510/94886159-35163d00-0440-11eb-8310-717517021b40.png">

# Welcome to [Hacktoberfest](https://hacktoberfest.digitalocean.com/)
..and welcome to our community! So many fun things to get into this Hacktoberfest like [adding translations for your native written language 🌏 ](https://github.c

[2020-10-02 04:40] madiedgar commented on #121
Check out this issue @sshiv5768

[2020-10-02 05:05] sebanti10 commented on #136
I would love to be a part!

[2020-10-02 05:18] madiedgar commented on #37
Hey @hesau2001, this would be a great place to start 👍🏾 We need to finalize this translation and having your review would be truly helpful

[2020-10-02 05:19] sshiv5768 commented on #121
I would love to do this task @madiedgar

[2020-10-02 07:02] sshiv5768 commented on #121
Hey, @madiedgar  I have added some more translations,please checkout them.

[2020-10-03 02:45] madiedgar commented on #127
Hey @nagendrady 👋 , are you still interested in helping with this issue. Would be a great help! 👍

[2020-10-03 02:47] madiedgar commented on #113
Hey @bvishal8510 👋 , thanks so much for helping with adding the initial Gujarati translation. Do you know anyone else who might be interested in contributing to this?

[2020-10-03 02:48] madiedgar commented on #100
Hey @rominacarabathampi 👋 , are you still interested in helping with this issue. Would be a great help! 👍

[2020-10-03 02:50] madiedgar commented on #99
Hey @ajrichards 👋 , thanks so much for helping with adding the initial Welsh translation. Do you know anyone else who might be interested in contributing to this? Thank you 👍

[2020-10-03 02:51] madiedgar commented on #97
Hey @zolumasoft 👋 , thanks so much for helping with adding the initial Xhosa translation. Do you know anyone else who might be interested in contributing to this? Thank you 👍

[2020-10-03 02:52] madiedgar commented on #86
Hey @kcmv 👋 , thanks so much for helping with adding the initial Tagalog translation. Do you know anyone else who might be interested in contributing to this? Thank you 👍

Hey @jayehernandez 👋 , are you still interested in helping with this issue. Would be a great help! 👍

[2020-10-03 02:53] madiedgar commented on #80
Hey @ghalyahfa, @karimelazzouni, and @raamyy 👋 , thanks so much for helping with adding the Arabic translation. Do you know anyone else who might be interested in contributing to this? Thank you 👍

[2020-10-03 03:02] madiedgar commented on #42
Hey @KChantal, @charberg, @wang-ories 👋 , thanks so much for helping with adding to the French translation. Do you know anyone else who might be interested in contributing to this? Thank you 👍

[2020-10-03 03:04] madiedgar commented on #41
Hey @sime1, @GiacomoPignoni, and @ninoCan 👋 , thanks so much for helping with adding to the Italian translation. Do you know anyone else who might be interested in contributing to this? Thank you 👍

[2020-10-03 03:08] madiedgar commented on #40
Hey @lucianorc, @geraldobraz, @Fayhen, @marcuscastelo, and @katherinefernandes 👋 , thanks so much for helping with adding to the Portuguese translation. Do you know anyone else who might be interested in contributing to this? Thank you 👍

[2020-10-03 03:10] madiedgar commented on #39
Hey @Pervicorn, @kartoniks, and @tomekpryjma 👋 , thanks so much for helping with adding to the Polish translation. Do you know anyone else who might be interested in contributing to this? Thank you 👍

Hey @bartekprzadka 👋 , are you still interested in helping with this issue. Would be a great help! 👍

[2020-10-03 03:11] madiedgar commented on #38
Hey @KChantal 👋 , thanks so much for helping with adding the initial Russian translation. Do you know anyone else who might be interested in contributing to this? Thank you 👍

Hey @startonmonday  👋 , are you still interested in helping with this issue. Would be a great help! 👍

[2020-10-03 03:14] madiedgar commented on #37
Hey @JJgar2725, @kararade, @reegoram, @asperduti, @zoomsttereo 👋 , thanks so much for helping with adding to the Spanish translation. Do you know anyone else who might be interested in contributing to this? Thank you 👍

Hey @hesau2001 👋 , are you still interested in helping with this issue. Would be a great help! 👍

[2020-10-03 03:17] madiedgar commented on #36
Hey @cos1715, @jekRock, and @Jam-Iko 👋 , thanks so much for helping with adding the initial Gujarati translation. Do you know anyone else who might be interested in contributing to this? Thank you 👍

Hey @valdeadmario 👋 , are you still interested in helping with this issue. Would be a great help! 👍

[2020-10-03 03:32] rominacarabathampi commented on #100
Hi Madison,
I am still interested. I was actually planning on working on this over
the weekend. So sorry for the delay. I was actually thinking of taking on
some of the other programming languages, as soon as I finish with Python.
Would that be okay?

Kind regards,
Romina

On Fri, 2 Oct 2020 at 22:48, Madison (Pfaff) Edgar <notifications@github.com>
wrote:

[2020-10-03 03:33] madiedgar commented on #100
No worries @rominacarabathampi! That would be amazing 👏 Thank you so much!!

[2020-10-03 04:11] geraldobraz commented on #40
I would like to contribute again 😄 . And I am going to ask some of my friends too.

[2020-10-03 05:16] aliciacisnerosm commented on #37
hi @madiedgar , I'd like to contribute to the revision (:

[2020-10-03 06:02] divae commented on #37
hi @madiedgar , I'm native and I'd like to contribute to the revision ^^

[2020-10-03 07:55] kcmv commented on #86
Wow, small world @jayehernandez. Well anyway, i will look into this and ask
some friends.

On Sat, Oct 3, 2020 at 10:52 AM Madison (Pfaff) Edgar <
notifications@github.com> wrote:

[2020-10-03 09:03] JekRock commented on #36
Hi @madiedgar !
I can review the translation if there have been any changes since the last review.

[2020-10-03 09:44] Jam-Iko commented on #36
Hi @madiedgar!
I have shared this opportunity with local community, hope this will help bring in volunteers )))

[2020-10-03 13:42] Ectalite commented on #42
Made a third review of the python translation. If you want help for other programming languages, just ask.
https://github.com/legesher/legesher-translations/pull/137

[2020-10-03 14:54] madiedgar commented on #37
Amazing @aliciacisnerosm and @divae! The more reviewers the better 👍 Let me know if you have any questions in making your PR.

[2020-10-03 15:48] Ectalite commented on #42
@madiedgar do you know if you could add the "hacktoberfest" topic to the repositiory ?

[2020-10-03 16:27] lcnunes09 commented on #40
Hello @madiedgar ! I'm interested to contribute.

[2020-10-03 20:14] alxnull commented on #43
Just found this promising looking project. Seems like German already reached the required amount of reviewers, or would you still accept another review? :)

[2020-10-04 00:53] iam-agf commented on #37
Can I help here too? I'm native Spanish speaker.

[2020-10-04 05:46] madiedgar commented on #42
That's a great idea @Ectalite! Added the topic to the repository! 👍

[2020-10-04 05:48] madiedgar commented on #40
Awesome @lcnunes09! I assigned you to the issue, just let me know if you have any questions 👍

[2020-10-04 05:56] madiedgar commented on #37
Absolutely @iam-agf! 👍

[2020-10-04 06:07] madiedgar commented on #43
Hey @alxnull 👋 Thanks for your interest! Would love to finalize the python translation and would really appreciate your help with that. 👍

[2020-10-04 09:26] alxnull commented on #43
Hey @madiedgar,

Just to clear things up for me 😅: Should I do another review or does "finalizing the Python translation" mean step 8 of the [translation guide](https://docs.legesher.io/legesher-translations/translation-guide)? How would I approach this? Open a new PR to master with a final version of the German translation, taking all reviewer comments into account and highlighting translations t

[2020-10-04 10:13] Adarwall commented on #136
@madiedgar I can translate javaScript to Hebrew! can you open an issue for that and assign it to me?

[2020-10-04 10:39] iam-agf commented on #37
@madiedgar the link for the translation guide is broken, does exist another?

Also, the way the PR's are done is ordered?

[2020-10-04 10:49] naderalfakesh commented on #80
Hi @madiedgar
I would like to contribute to this issue.
I've just pushed #139  and it is failing the unbeautify test even though I am using prettier. Is there something I am missing here.
Thanks.

[2020-10-04 11:01] hesau2001 commented on #37
Yea sure. Where I begin?

[2020-10-04 11:16] nagendrady commented on #127
Hi,yes i am interested.

On Sat, 3 Oct 2020, 08:16 Madison (Pfaff) Edgar, <notifications@github.com>
wrote:

[2020-10-04 11:56] jayehernandez commented on #86
Thanks for the mention on this @madiedgar! I think I was able to help out with #95. 😁 @kcmv hello!!

[2020-10-04 16:12] marcodeanda commented on #37
Hello @madiedgar! Could I help?

[2020-10-04 16:31] nagendrady commented on #127
hi @madiedgar .Added te.yml file for telugu translation.

[2020-10-05 00:29] fernandakawasaki commented on #40
I would like to help too! Also, maybe we should specify that this is a brazilian portuguese translation? I don't know a lot about the other portuguese speaking countries (such as Portugal and Angola), but some words might vary.

[2020-10-05 10:08] SvA1 commented on #38
Hi @madiedgar. I'd be happy to be a reviewer.
P.S. the link in the issue is broken https://docs.legesher.io/guide/contributor/translation-guide

[2020-10-05 18:02] rominacarabathampi commented on #100
Hello @madiedgar
I finished translating a few of the other languages as well. I have committed the file to the master branch, but I am not sure it is updated on the original legesher-translate or is just on my forked version.

[2020-10-06 11:56] hidalgo-vntu commented on #36
I can take a look

[2020-10-06 16:16] SurprisinglyFamiliar commented on #39
I am interested in reviewing the translation.

[2020-10-06 22:51] zayle commented on #37
Is still active this issue? I would like to help here.

[2020-10-08 19:39] ypresion commented on #39
Would love to help with this one too :)

[2020-10-08 21:18] ypresion commented on #39
I raised a PR for it, hopefully it's all good @madiedgar :)

[2020-10-09 03:57] madiedgar commented on #80
Thanks so much for your contribution @naderalfakesh. Don't worry about the unibeautify test failing because it is updated in the master branch. 👍

[2020-10-09 04:02] madiedgar commented on #86
I apologize @jayehernandez, thanks so much for your contribution in #95 👍

[2020-10-09 15:44] morgantechie commented on #41
Hello, I'd love to be one of the reviewers :) I'm also participating in Hacktoberfest this year (it's how I found you!). Let me know if I can start working on this. Thank you!

[2020-10-09 17:36] madiedgar opened #144 "Add New Language: Hebrew (Python)"
## Adding Hebrew to the Legesher Translations for Python

In order to add this language to the project, complete the steps detailed in [the translation guide](https://docs.legesher.io/legesher-translations/translation-guide). (We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages.)

**To complete this issue**:

- [

[2020-10-09 17:37] madiedgar commented on #144
Hey @Adarwall 👋 Thanks for your interest in contributing to the Hebrew translation. I'll merge in the PR you have created in #141 but would love your help in adding in Python as well!

[2020-10-09 17:47] madiedgar commented on #136
Would love to have y'all!

@sebanti10 is there a specific language you can help translate? If we aren't currently working on it, would love to start!

@Adarwall that would be awesome! I created #144 to add Python and the `hebrew-translation` branch for you to add future PR's to. I'm planning on starting Javascript soon across the entire project, so having the Javascript translation from #141 is he

[2020-10-09 17:52] madiedgar commented on #40
That's very insightful @fernandakawasaki, do you have any thoughts on how we can denote that? I'll look into your PR shortly too 👍

[2020-10-09 18:12] madiedgar commented on #100
You did such an amazing job! 👍 Thank you so much!!!

So I looked into this ^, you're right that you committed them to the master branch of your forked version of this repository. You can create a pull request either from your own repo or from this one and it'll redirect you to a page like this:
<img width="1100" alt="Screen Shot 2020-10-09 at 2 05 22 PM" src="https://user-images.githubusercontent.

[2020-10-09 23:57] madiedgar commented on #38
Thanks for the catch @SvA1! The link should work now 👍 and Awesome, I'll assign you to the issue. Let me know if you have any questions!

[2020-10-10 00:02] madiedgar commented on #41
That would be amazing @morgantechie! I'll assign you to the issue and let me know if you have any issues 👍

[2020-10-10 00:04] madiedgar commented on #39
Awesome @ypresion and @SurprisinglyFamiliar 🎉 Would be happy to have you! I'll look over your PR now @ypresion 👍

[2020-10-10 00:08] madiedgar commented on #36
That would be very helpful @hidalgo-vntu! Let me know if you have any questions 👍

[2020-10-10 00:09] madiedgar commented on #37
Thanks for the catch @iam-agf, I updated the link with the correct url 👍

[2020-10-10 00:32] madiedgar commented on #43
Great question @alxnull 👍 if you could be the last reviewer for python that would be great. After your PR is merged, I'll create another issue for officially finalizing the python translation where all of the previous contributors will be looped in.

[2020-10-10 06:38] iam-agf commented on #41
Can I help here?

[2020-10-10 09:37] syauqy commented on #136
Hi @madiedgar , I can help you with a translation in Bahasa Indonesia.
You can open an issue for it and assign it to me.

[2020-10-10 14:37] madiedgar commented on #41
Yes please @iam-agf 👍

[2020-10-10 15:19] joshuiaclan commented on #86
Hi @madiedgar, Can I take a shot in this?

[2020-10-10 15:40] Adarwall commented on #144
@madiedgar I'll do that! assign me plz 😄

[2020-10-10 15:56] madiedgar commented on #86
Yes please @joshuiaclan 👍 Let me know if you have any questions!

[2020-10-10 16:01] madiedgar opened #147 "Add New Language: Indonesian (Python)"
## Adding Indonesian to the Legesher Translations for Python

In order to add this language to the project, complete the steps detailed in [the translation guide](https://docs.legesher.io/legesher-translations/translation-guide). (We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages.)

**To complete this issue**:

[2020-10-10 16:03] madiedgar commented on #147
Hey @syauqy 👋 Would love your help on this issue 👍

[2020-10-10 16:03] madiedgar commented on #136
Awesome, thank you @syauqy 👍 Check out #147

[2020-10-10 16:31] syauqy commented on #147
Hi @madiedgar sure, I'll working on it. Thanks 🙏

[2020-10-11 15:45] #144 closed

[2020-10-12 07:50] syauqy commented on #147
Hi @madiedgar , please check my PR #154
A bit confused on the built-in functions. I just put all the literal translation.
Should it be a normal function? Or you need the actual translation?
For example like abs, I translate it to the literal "absolute" meaning.

[2020-10-13 16:44] fernandakawasaki commented on #40
I'm not sure @madiedgar . We usually specify it as 'pt-BR' (IETF language tag - there is no ISO standard code for Brazilian Portuguese)

[2020-10-13 17:13] madiedgar commented on #147
@syauqy You bring up a great point, and that's why I value your contribution! Let's start with the full translation of those words and then during the final review process we'll determine how to shorten the word (if that's what is deemed necessary). It might be helpful to keep this in mind:

[2020-10-13 17:37] #147 closed

[2020-10-13 17:38] madiedgar opened #155 "Add New Language: Simplified Chinese (Python)"
## Adding Simplified Chinese to the Legesher Translations for Python

In order to add this language to the project, complete the steps detailed in [the translation guide](https://docs.legesher.io/legesher-translations/translation-guide). (We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages.)

**To complete this i

[2020-10-13 17:49] #127 closed

[2020-10-13 18:53] madiedgar commented on #40
That's really helpful @fernandakawasaki 👍  I posed this question for discussion in our discord channel for additional feedback as this is something that has come up in other language translations.

[2020-10-14 12:00] lucianorc commented on #40
I would like to contribute again too. :smile:

[2020-10-14 20:52] madiedgar commented on #40
Amazing @lucianorc !! You can always add additional programming language translations and I'll accept the PR. We're wanting to finalize Python first, but until we have enough reviewers to begin that process, translate away!!! 👍

[2020-10-16 06:52] sshiv5768 commented on #113
@madiedgar , I am interested.

[2020-10-18 10:17] Wrth1 opened #157 "Review Language: Indonesian (Python)"
## Review LANGUAGE Translations for Python

In order to review this language to the project, complete the steps detailed in the [translation guide](https://docs.legesher.io/legesher-translations/translation-guide) (from Step #6 onward). We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.

**Reviewi

[2020-10-18 17:34] sshiv5768 commented on #113
Thanks, @madiedgar for assigning me as a reviewer. 🤗

[2020-10-19 08:47] rouskuli opened #159 "Add New Language: Finnish (Python)"
## Adding Finnish to the Legesher Translations for Python

In order to add this language to the project, complete the steps detailed in [the translation guide](https://docs.legesher.io/legesher-translations/translation-guide). (We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.)

**To complete thi

[2020-10-19 15:16] Girgetto commented on #41
Do you need one more review? I would like to help if is it possible.  👋

[2020-10-20 13:25] rouskuli commented on #159
Could someone create the `finnish-translation` branch in this repo? The Python keywords are translated already! :)

[2020-10-23 00:04] madiedgar commented on #41
That would be great @Girgetto 👍 Thank you!

[2020-10-23 00:06] madiedgar commented on #159
Thank you so much for starting this @rouskuli 🎉 I created the `finnish-translation` branch for you.

[2020-10-23 14:36] ioannouE opened #162 "Add New Language: Greek (Python)"
## Adding Greek to the Legesher Translations for Python

In order to add this language to the project, complete the steps detailed in [the translation guide](https://docs.legesher.io/legesher-translations/translation-guide). (We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.)

**To complete this

[2020-10-25 08:38] davidsennekool opened #164 "Add New Language: Dutch (Python)"
## Adding Dutch to the Legesher Translations for Python

In order to add this language to the project, complete the steps detailed in [the translation guide](https://docs.legesher.io/legesher-translations/translation-guide). (We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.)

**To complete this

[2020-10-25 13:25] mihirg008 commented on #121
I could help as Reviewer 3 for this. Can you help me with the process? @madiedgar @sshiv5768

[2020-10-27 05:16] #159 closed

[2020-10-27 05:17] madiedgar commented on #162
This is great @ioannouE ! 👍 I'll add a `greek-translation` branch for you to merge your changes into!

[2020-10-27 05:23] madiedgar commented on #164
This is great @davidsennekool 👍 I created a `dutch-translation` branch for you to merge your changes into!

[2020-10-27 05:34] madiedgar commented on #121
That would be wonderful @mihirg008 👍 Happy to help! Here's some helpful tips to get you started, but feel free to reach out if you have more questions!

1️⃣ First tip is to work off the `hindi-translation` branch for your changes.

2️⃣ When reviewing a translation, It is important to keep all of the iterations of review in tact, so we're able to refer to them for the final review. Here are a coupl

[2020-10-29 06:30] #162 closed

[2020-10-29 06:34] #164 closed

[2020-10-29 06:49] madiedgar opened #168 "Review Language: Dutch (Python)"
## Review Dutch Translations for Python

In order to review this language to the project, complete the steps detailed in the [translation guide](https://docs.legesher.io/legesher-translations/translation-guide) (from Step #6 onward). We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.

**Reviewing*

[2020-10-29 06:51] madiedgar opened #169 "Review Language: Greek (Python)"
## Review Greek Translations for Python

In order to review this language to the project, complete the steps detailed in the [translation guide](https://docs.legesher.io/legesher-translations/translation-guide) (from Step #6 onward). We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.

**Reviewing*

[2020-10-29 06:55] madiedgar opened #170 "Review Language: Finnish (Python)"
## Review LANGUAGE Translations for Python

In order to review this language to the project, complete the steps detailed in the [translation guide](https://docs.legesher.io/legesher-translations/translation-guide) (from Step #6 onward). We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.

**Reviewi

[2020-10-29 06:58] madiedgar opened #171 "Review Language: Hebrew (Python)"
## Review Hebrew Translations for Python

In order to review this language to the project, complete the steps detailed in the [translation guide](https://docs.legesher.io/legesher-translations/translation-guide) (from Step #6 onward). We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.

**Reviewing

[2020-10-29 07:00] madiedgar opened #172 "Review Language: Telugu (Python)"
## Review Telugu Translations for Python

In order to review this language to the project, complete the steps detailed in the [translation guide](https://docs.legesher.io/legesher-translations/translation-guide) (from Step #6 onward). We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.

**Reviewing

[2020-10-29 08:15] madiedgar commented on #155
Hey @maxtan1999 👋 , This would be a great place to start!

[2020-10-29 09:11] Nigar6001 commented on #136
Hello, I can help with translation to or from German, English, Turkish, or Azerbaijani. I am a certified user of those languages and also I have a B2 level in Russian but not certified fully yet but if you need help with Russian translation I can help with it.

[2020-10-29 17:42] Kaecchi commented on #39
If you still need someone to check the translation, I'd love to help with it :)

[2020-10-29 20:29] madiedgar opened #174 "Review Language: Turkish (Python)"
## Review Turkish Translations for Python

In order to review this language to the project, complete the steps detailed in the [translation guide](https://docs.legesher.io/legesher-translations/translation-guide) (from Step # 6 onward). We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.

**Reviewi

[2020-10-29 20:30] madiedgar opened #175 "Add New Language: Azerbaijani (Python)"
## Adding Azerbaijani to the Legesher Translations for Python

In order to add this language to the project, complete the steps detailed in [the translation guide](https://docs.legesher.io/legesher-translations/translation-guide). (We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.)

**To complete

[2020-10-29 20:30] madiedgar commented on #136
That would be lovely @Nigar6001! 🎉 We have current translations in development for [German](https://github.com/legesher/legesher-translations/issues/43), [Turkish](https://github.com/legesher/legesher-translations/issues/174), and [Russian](https://github.com/legesher/legesher-translations/issues/38) that would love another reviewer. We haven't had an Azerbaijani translation yet, but I [created an

[2020-10-31 04:30] madiedgar commented on #39
Yes @Kaecchi, that would be lovely!

[2020-10-31 13:50] Nigar6001 commented on #175
Hello. Should I create a new file named as Azerbaijani translation for translations of Python Keywords?

[2020-11-03 03:33] madiedgar commented on #175
Hi @Nigar6001 👋,

A new yml file should be created.
- the name of the file should be the dialect abbreviation found in the `locale/dialect-list.yml`
- use the `locale/language-keyword-template.yml` as a base for the contents of the file
- update the Python section of the file with your translation interpretation.

[2020-11-08 12:15] sjarva commented on #170
I'd love to review this! I'm also calling @minna-xD and @eevajonnapanula, would you like to and have time to review Finnish translations? 😄

[2020-11-08 18:46] minna-xD commented on #170
Yes, I can help with this!

[2020-11-09 03:04] madiedgar commented on #170
Awesome! Thank you @sjarva and @minna-xD, let me know if you have any questions along the way!

[2020-11-09 21:18] minna-xD commented on #170
This is a silly question but I wasn't able to find out the answer by looking at the existing contributions:
You say "Leave a `# @username ✅_with any additional commentary afterwards_`" but then the sample line is:
`int: "initiatorsTranslation" # ✅ @firstreviewer, ❓@secondreviewer what about this otherTranslation`
I suppose there's really no difference as long as it's clear enough but is there a pr

[2020-11-09 22:24] madiedgar commented on #170
@minna-xD not a silly question at all! Rather it's a great catch👍🏾

As long as it is clear what review is yours, the order of elements in the review is entirely up to you. The order of reviewers is more important, as the reviewer order will be used if there is a word that needs to have further discussion.

[2020-11-10 18:36] minna-xD commented on #170
Good to know!

[2020-11-10 21:13] minna-xD commented on #170
Could we get some of our other LUK friends to join, do you think @sjarva?

[2020-11-13 05:09] begeistert commented on #37
Hello @madiedgar, Can I still help here? I'm native Spanish speaker.

[2020-11-14 04:49] madiedgar commented on #37
Yes @begeistert, would love your help! Let me know if you have any questions.

[2020-12-29 05:52] sshiv5768 commented on #121
Hey, @madiedgar. I want to contribute more in this project, will guide me through it?

[2020-12-30 11:55] madiedgar opened #184 "Add Official Translation: German (Python)"
# Official Dialect Translation - German (Python)

First off, Congratulations on such an amazing achievement! 🎉  This is definitely exciting as we’re gearing up to add our first official translation to the Legesher project.

## Review Process
This is where the fun starts! Please look at each keyword translation found in the `locale/de.yml` file critically and carefully. Even for translations that h

[2020-12-30 11:57] madiedgar commented on #43
Closing this issue, as we are now preparing for the official translation in #184 🎉

[2020-12-30 11:57] #43 closed

[2020-12-31 01:00] madiedgar opened #185 "Add Official Translation - Spanish (Python)"
# Official Dialect Translation - Spanish (Python)

First off, Congratulations on such an amazing achievement! 🎉  This is definitely exciting as we’re gearing up to add our first official translation to the Legesher project.

## Review Process
This is where the fun starts! Please look at each keyword translation found in the `locale/es.yml` file critically and carefully. Even for translations that

[2020-12-31 01:03] madiedgar commented on #37
Closing this as we are now starting the official translation!! 🎉

[2020-12-31 01:03] #37 closed

[2020-12-31 01:27] madiedgar commented on #175
Hey @Nigar6001, I realized I never created the new branch for you to make your changes. There is now a `Azerbaijani-translation` branch available for your translation contribution 👍

[2021-01-01 21:19] madiedgar opened #187 "Add New Languages to Current Development in README"
## Add New Languages to Current Development in README

Hacktoberfest was AMAZING and we've started a lot of development for new languages! It's about time to update our README to include such amazing progress!

In [this section](https://github.com/legesher/legesher-translations#languages-in-active-development) of the README, there is a list of languages we are currently developing in.

Currently t

[2021-01-02 06:45] madiedgar commented on #187
This was completed in #188 by @justin-lourie-cole. 🎉

[2021-01-02 06:45] #187 closed

[2021-01-02 08:52] wambugucoder opened #189 "Add New Language: Swahili (Python)"
## Adding SWAHILI to the Legesher Translations for Python

In order to add this language to the project, complete the steps detailed in [the translation guide](https://docs.legesher.io/legesher-translations/translation-guide). (We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.)

**To complete thi

[2021-01-02 08:58] madiedgar commented on #189
Wow- so excited for this @wambugucoder! I just added a new branch `swahili-translation` for you to merge your changes into. Let me know if you have any questions along the way 🎉

[2021-01-02 10:17] madiedgar commented on #189
Closing this because it was completed in #190, and opening a new one for reviewing the dialect.

@wambugucoder - if you have any friends that would be interested in this project, please invite them to be a part ❤️

[2021-01-02 10:17] #189 closed

[2021-01-02 10:20] madiedgar opened #191 "Review Language: Swahili (Python)"
## Review Swahili Translations for Python

In order to review this language to the project, complete the steps detailed in the [translation guide](https://docs.legesher.io/legesher-translations/translation-guide) (from Step #6 onward). We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.

**Reviewin

[2021-01-02 10:22] madiedgar opened #192 "Add Swahili to Active Development in README"
## Add Swahili to Active Development in README

In [this section](https://github.com/legesher/legesher-translations#languages-in-active-development) of the README, there is a list of languages we are currently developing in.

Please add Swahili to the list of languages in active development.

**To complete this issue**
- [ ] Update the README to include the list of dialects in development, keeping

[2021-01-02 10:27] wambugucoder commented on #191
@madiedgar  can i tag some friends to review this?

[2021-01-02 10:29] madiedgar commented on #191
Yes please @wambugucoder! That would be wonderful!!!

[2021-01-02 10:34] wambugucoder commented on #192
i wouldnt mind doing this 😄

[2021-01-02 10:36] madiedgar commented on #192
Awesome, I'll assign you to it 👍  Let me know if you have any questions!

[2021-01-02 10:51] wambugucoder commented on #192
Should i merge it with the main branch?

[2021-01-02 10:53] madiedgar commented on #192
@wambugucoder Yes, please do. My apologies for not mentioning!

[2021-01-02 11:01] wambugucoder commented on #191
@sanqqara,@collinskoech11 please review this 😆 😆

[2021-01-02 11:07] wambugucoder commented on #192
Done

[2021-01-02 11:09] #192 closed

[2021-01-02 12:12] Sanqqara commented on #191
@madiedgar Please assign me to this issue.

[2021-01-02 17:38] madiedgar commented on #191
Let me know if you have any questions @Sanqqara ! 👍

[2021-01-26 00:45] belkacemm opened #197 "Add New Language: LANGUAGE (Kabyle)"
## Adding LANGUAGE to the Legesher Translations for Python

In order to add this language to the project, complete the steps detailed in [the translation guide](https://docs.legesher.io/legesher-translations/translation-guide). (We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.)

**To complete th

[2021-01-26 03:47] ShrillShrestha opened #198 "Add New Language: Nepali (Python)"
## Adding Nepali to the Legesher Translations for Python

In order to add this language to the project, complete the steps detailed in [the translation guide](https://docs.legesher.io/legesher-translations/translation-guide). (We are primarily working on developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.)

**To complete t

[2021-01-27 01:17] belkacemm commented on #42
I can help in the French language as a reviewer.

[2021-01-27 13:33] madiedgar commented on #197
Hey @belkacemm 👋 Thanks so much for opening up this issue for Kabyle. I updated the issue description to add a few steps, since we don't have Kabyle listed as a language yet. I created a branch for you to merge into - `kabyle-translation`. Let me know if you have any questions. 😄

[2021-01-27 13:35] madiedgar commented on #198
Amazing! Thank you so muhc @ShrillShrestha for opening this issue for Nepali. I created the `nepali-translation` branch for you to merge your changes into. Let me know if you have any questions along the way!

[2021-01-27 13:37] madiedgar commented on #42
Amazing! I'll assign you to this and let me know if you have any questions along the way!

[2021-01-28 21:33] belkacemm commented on #42
I just updated  the file fr.yml.
Please, checkout my feedback

[2021-01-29 01:14] belkacemm commented on #42
Also, the file updated fr.yml is pushed to french-translation branch.. Just join me in Discord for discussion of some items

[2021-06-12 03:03] Gal-Gilor commented on #171
Hi, I'm a native speaker, and I wish to contribute to this project.
* _Full disclosure: I'm a beginner when it comes to contributing to open-source projects_

[2021-06-16 03:30] madiedgar commented on #171
That's wonderful @Gal-Gilor! I've assigned you to this issue. The [translation guide](https://docs.legesher.io/legesher-translations/translation-guide) should be helpful in understanding the step-by-step process and a great place to start. Please reach out if you need help along the way. 👍🏾

[2021-06-18 17:04] Gal-Gilor commented on #171
@madiedgar,

I hope the pull request I made is correct.
I added my reviewer comments to the Python section.

I accidentally also added the reviews to the ATOM section.
For now, I left it as is. I assumed someone would need to review that in the future anyway :)

Please let me know if everything is okay.

[2021-09-01 14:50] madiedgar opened #210 "Add New Language: Pashto (Python)"
## Adding Pashto to the Legesher Translations for Python

In order to add this language to the project, complete the steps detailed in [the translation guide](https://docs.legesher.io/legesher-translations/translation-guide). (We are primarily working on developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.)

**To complete t

[2021-09-01 15:01] madiedgar opened #211 "Add New Language: Dari (Python)"
## Adding Dari to the Legesher Translations for Python

In order to add this language to the project, complete the steps detailed in [the translation guide](https://docs.legesher.io/legesher-translations/translation-guide). (We are primarily working on developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.)

**To complete thi

[2021-09-20 11:17] michalirak commented on #171
@madiedgar
Hi, also a native speaker and would like to contribute

[2021-09-20 11:30] madiedgar commented on #171
That would be awesome @michalirak ! I'll assign you to this issue, and you can get started. Let me know if you have any questions. 👍🏾

[2021-09-23 01:14] madiedgar opened #212 "Review Language: Nepali (Python)"
## Review Nepali Translations for Python

In order to review this language to the project, complete the steps detailed in the [translation guide](https://docs.legesher.io/legesher-translations/translation-guide) (from Step #6 onward). We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.

**Reviewing

[2021-09-23 02:33] madiedgar opened #213 "Review Language: Irish Gaelic (Python)"
## Review Irish Gaelic Translations for Python

In order to review this language to the project, complete the steps detailed in the [translation guide](https://docs.legesher.io/legesher-translations/translation-guide) (from Step #6 onward). We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.

**Rev

[2021-09-30 17:45] madiedgar opened #214 "🍂 💻 Welcome to Hacktoberfest 2021 🍂💻"
<img width="826" alt="banner08CRredlogo" src="https://user-images.githubusercontent.com/7844510/135486878-738f39ab-f7a3-4816-9eed-efef2915d0ce.png">

# Happy [Hacktoberfest](https://hacktoberfest.digitalocean.com/)
..and welcome to our community! This is our third Hacktoberfest and we're excited for what we'll build together! So many fun things to get into this Hacktoberfest like [adding translati

[2021-09-30 17:45] #136 closed

[2021-10-01 15:25] madiedgar commented on #113
Yes please @sshiv5768 👍🏾 we'll need more individuals to add their review, but feel free to add more translations of another programming language.

[2021-10-01 21:31] Nidhir2k1 commented on #113
Hello @madiedgar I'm interested in contributing.

[2021-10-01 21:37] Nidhir2k1 commented on #121
Would love to review :)

[2021-10-01 23:54] madiedgar commented on #113
@Nidhir2k1 Awesome, I assigned you to the issue. If you need any help, just reach out! 👍

[2021-10-01 23:57] madiedgar commented on #121
@Nidhir2k1 we'd love that! 👍 Assigned you to the issue. Again, if you have any questions, just reach out.

[2021-10-02 06:55] 136tejas commented on #113
Hey @madiedgar i would like to contribute to this issue.

[2021-10-02 10:05] bhaveshgoyal182 commented on #121
Hey @madiedgar ,
I would love to review it too :)

[2021-10-02 12:29] madiedgar commented on #113
Awesome @136tejas, I'll assign you!

[2021-10-02 12:30] madiedgar commented on #121
@bhaveshgoyal182 That would be great! I'll assign you!

[2021-10-02 12:44] 136tejas commented on #121
hey @madiedgar i would like to review it.

[2021-10-02 20:09] manojkrishnak commented on #172
Hi, i would like to take this up.

I do have few doubts can I ping you on any platform? Discord?

[2021-10-03 02:25] madiedgar commented on #121
Thanks @136tejas! I just assigned you 👍

[2021-10-03 03:20] madiedgar commented on #172
Absolutely! I'll assign you for now and feel free to message me on discord. I'd love to hear your thoughts 👍

[2021-10-03 07:18] 179priyasoni commented on #113
hey @madiedgar I would like to  contribute to this issue.

[2021-10-03 07:32] 179priyasoni commented on #121
HEY @madiedgar  I would like to review .

[2021-10-03 09:55] OussamaSALAHOUELHADJ commented on #80
Hey @madiedgar a PR created for this issue, kindly review it. https://github.com/legesher/legesher-translations/pull/221

[2021-10-03 12:31] manojkrishnak commented on #172
Hi @madiedgar i could not find you on Discord, can you give me your username?

[2021-10-03 13:41] madiedgar commented on #113
Awesome @179priyasoni, I'll assign you to the issue. Let me know if you have any questions. 👍🏾

[2021-10-03 15:34] manojkrishnak commented on #172
Hi @madiedgar, I tried contacting you on Discord, seems like you have disabled DMs without being friend there, could you pls allow me to send messages?

[2021-10-03 15:59] madiedgar commented on #121
Great @179priyasoni, assigning you now!

[2021-10-03 19:01] sshiv5768 commented on #121
@madiedgar, i added some more reviews in Hindi translations but this time i followed your instructions of changing branch. Please check it

[2021-10-04 21:01] milafreckled commented on #36
Hi, is it available for a review? I would like to contribute, Ukrainian is my native language.

[2021-10-04 22:22] madiedgar commented on #36
Yes @milafreckled that would be great! I'll assign you. Let me know if you have any questions.

[2021-10-05 08:47] milafreckled commented on #36
Thank you! I've just finished reviewing in my forked repository what should I do next?

[2021-10-07 06:23] sanjay-kv opened #234 "Add New Language: LANGUAGE (Malayalam)"
## Adding Malayalam to the Legesher Translations for Python

In order to add this language to the project, complete the steps detailed in [the translation guide](https://docs.legesher.io/legesher-translations/translation-guide). (We are primarily working on developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.)

**To complet

[2021-10-07 06:29] sanjay-kv opened #235 "Email is not taking on the front page forms"
**Describe the bug**
There are two Email forms on the front page of Legesher.io to signup for early access. Those are not working, once the user enters the value it returns please enter a value rather than giving confirmation or redirecting.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://legesher.io/'
2. Click on 'Get Early access program Email form '
3. Scroll down to 'Email

[2021-10-07 12:21] madiedgar commented on #234
This is awesome @sanjay-kv 👍 I'll create the branch on our side and you can start working on it!

[2021-10-09 19:10] minna-xD opened #242 "Add New Language: Finnish (Java)"
## Adding Finnish to the Legesher Translations for Java

In order to add this language to the project, complete the steps detailed in [the translation guide](https://docs.legesher.io/legesher-translations/translation-guide).

**To complete this issue**:

- [x] Update any content in this issue from `LANGUAGE` to the name of the language. (Romanian, Arabic, Welsh etc.)
- [x] Title this issue "Add Ne

[2021-10-10 00:08] madiedgar commented on #242
This was resolved in #243 🎉

[2021-10-10 00:08] #242 closed, assigned to minna-xD

[2021-10-10 02:36] annemacena commented on #40
@madiedgar Is there a position for one more reviewer? 🥺👉👈

[2021-10-10 18:39] madiedgar commented on #40
Absolutely @annemacena  That would be incredible!! 👍 Let me know if you need any help.

[2021-10-11 15:46] madiedgar commented on #234
Hey @sanjay-kv, let me know if you need any help getting things set up. 👍

[2021-10-15 06:26] TomerPacific commented on #171
Hey @madiedgar, looking to help. Is this still relevant?

[2021-10-16 03:14] madiedgar commented on #171
Yes! Would love your help @TomerPacific. Let me know if you have any questions!

[2021-10-16 03:22] Ln11211 commented on #121
@madiedgar , can I work on this ?, are there any more files to translate or review ?

[2021-10-16 03:38] madiedgar commented on #121
Absolutely @Ln11211 - you'll want to follow the [translation guide](https://docs.legesher.io/legesher-translations/translation-guide) from Step #6 because the initial review has already been made.

Tip: when you fork this repo, you'll want to make your changes on the `hindi-translation` branch of your fork and merge them into this repo's `hindi-translation` branch. You'll be specifically working o

[2021-10-16 03:46] Ln11211 commented on #121
@madiedgar , Can I start with translating JAVA keywords ? or is this Issue only for reviewing and translating Python keywords ?(But most of the keywords seems to have a good translation and are already reviewed) except few which have the ❓ and 🤔, so should I work on them specifically ?

[2021-10-16 03:48] Ln11211 commented on #121
@madiedgar , I was wondering, Have you also set up a "Telugu" translation branch as @nagendrady suggested ?

[2021-10-16 04:01] madiedgar commented on #121
Great questions @Ln11211 👍 In order for a translation to be officially accepted it needs to be accepted and approved by 5 additional native speakers. Each keyword translation needs to have at least 6 individuals' input, for example: `bytes: "बाइट्स" # ✅✅✅✅✅`. Your input on the translations with ❓ and 🤔 would be extremely helpful.

After you review the Python keywords, I'm more than happy to accept

[2021-10-16 04:04] #235 closed, assigned to sanjay-kv

[2021-10-16 04:16] madiedgar commented on #234
Hi @sanjay-kv , great question!

Got a chance to look at your repo - It seems you renamed the `en.yml` file to be `ml.yml`. However, the original `en.yml` file has all of the keywords already inputted and will be more work for you and other reviewers down the line to translate and visually determine the progress of the translations.

Instead, revert the name change so you have an English `en.yml`

[2021-10-16 04:18] Ln11211 commented on #121
@madiedgar One last doubt, so If we find a better word for a keywords marked with ❓, are we allowed to change(the existing translation) and write a new one followed with a comment(reasoning why is it better) ? And is it necessary to mention our @ after a ✅(like ✅ @Ln11211) ?

And yes, I am also planning to work on Telugu only after I am done with Hindi..
@madiedgar Thanks a lot for helping me begi

[2021-10-16 04:36] madiedgar commented on #121
These are great questions @Ln11211, and it helps me be clearer when I'm writing documentation - so thank you!

If the previous reviewers marked a translation with a ❓, then any insight you can provide for that word would be helpful. Add your review in the comments with your username so we know who to ask if we have any clarifying questions. The order of the comments will be helpful down the road w

[2021-10-16 09:07] nik132-eng commented on #113
I am new at the Open source but I want to work on this can you please assign me this issue?

[2021-10-16 11:07] TomerPacific commented on #171
@madiedgar - this issue states to update only the Python section. Would you like me to just go over what was reviewed already and fill in what is missing? Or should I add translations to other languages as well?

[2021-10-16 11:24] madiedgar opened #250 "Add New Language: Urdu (Python)"
## Adding Urdu to the Legesher Translations for Python

In order to add this language to the project, complete the steps detailed in [the translation guide](https://docs.legesher.io/legesher-translations/translation-guide). (We are primarily working on developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.)

**To complete thi

[2021-10-16 13:35] Ln11211 commented on #121
@madiedgar , How many times have the "built in functions" of python Hindi file been reviewed ? because I suspect that someone reviewed it only once but used two two keys( ✅ &❓ or 🤔 & ✅ ) together, is it allowed to use two keys at a time ?
Like for instance in  [line 1289](https://github.com/legesher/legesher-translations/blob/hindi-translation/locale/hi.yml#L1289), [line 1303](https://github.com/l

[2021-10-16 14:02] nooras commented on #250
I am interested in this issue. Can you please assign it to me ? Thanks :)

[2021-10-16 14:53] madiedgar commented on #250
Awesome @nooras! Let me know if you have any questions and I'll be more than happy to help!

[2021-10-16 15:02] madiedgar commented on #113
Happy to help walk you through it if you need @nik132-eng 👍

[2021-10-16 17:45] Ln11211 commented on #121
@madiedgar , I have successfully reviewed all of the python translations thoroughly, can I raise a pr ?

[2021-10-16 20:39] TomerPacific commented on #171
@madiedgar - I have opened a PR. I checked out from the hebrew-translation branch. It seems like it isn't updated with the master branch. Seeing as there are conflicts, would you like me to do this merge?

[2021-10-17 11:36] nooras commented on #250
I only need to translate for python language ? @madiedgar

[2021-10-17 11:58] Ln11211 commented on #172
@madiedgar, Like I promised, I want to review "Telugu", Can I start with reviewing ?

[2021-10-17 13:08] madiedgar commented on #171
Merged your PR @TomerPacific 👍 Once the Python keywords are officially reviewed for the translation we'll merge it and sync it with master. Your PR was great!

[2021-10-17 16:03] TomerPacific commented on #171
@madiedgar - glad to be of service.  Would you like me to open an issue for another language? What would be your preferred coding language?

[2021-10-17 16:45] madiedgar commented on #171
That would be awesome @TomerPacific 👍  If you'd like to keep reviewing translations, I'd go with Javascript and Atom's editor keywords. After Legesher Python is ready for use, we'll begin working on extending those capabilities to Javascript within Atom's text editor. Feel free to open new issues for both Javascript and Atom. Thank you!

[2021-10-17 17:36] madiedgar opened #255 "Review Language: Malayalam (Python)"
## Review Malayalam Translations for Python

In order to review this language to the project, complete the steps detailed in the [translation guide](https://docs.legesher.io/legesher-translations/translation-guide) (from Step #6 onward). We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.

**Review

[2021-10-18 02:37] nik132-eng commented on #113
yes ma'am I didn't understand how to do it.

[2021-10-18 02:37] nik132-eng commented on #113
Please help me @madiedgar

[2021-10-18 02:57] madiedgar commented on #113
Join our [discord community](https://discord.gg/DkVjVDP) and I can help walk you through it @nik132-eng 👍

[2021-10-18 18:16] TomerPacific opened #260 "Add New Language: Hebrew (JavaScript)"
## Adding Hebrew to the Legesher Translations for JavaScript

In order to add this language to the project, complete the steps detailed in [the translation guide](https://docs.legesher.io/legesher-translations/translation-guide). (We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.)

**To complete

[2021-10-19 06:04] madiedgar commented on #260
Thank you @TomerPacific, looking forward to your PR 👍

[2021-10-19 10:53] aadii0408 commented on #113
I would like to contribute to this issues @madiedgar

[2021-10-20 11:13] nik132-eng opened #263 "Add New Language: Gujarati (java)"
## Adding LANGUAGE to the Legesher Translations for java

In order to add this language to the project, complete the steps detailed in [the translation guide](https://docs.legesher.io/legesher-translations/translation-guide). (We are primarily working developing Legesher for the java programming language. In the future we hope to add more programming languages in the future.)

**To complete this i

[2021-10-20 12:50] nik132-eng commented on #263
Would you please add a hacktoberfest-accepted tag?

[2021-10-20 15:14] MartinOrl opened #264 "Add New Language: Slovak (Python)"
## Adding Slovak to the Legesher Translations for Python

In order to add this language to the project, complete the steps detailed in [the translation guide](https://docs.legesher.io/legesher-translations/translation-guide). (We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.)

**To complete this

[2021-10-20 15:29] madiedgar commented on #264
So excited for this @MartinOrl ! I just created the `slovak-translation` branch for you. Let me know if you have any questions 👍

[2021-10-21 16:58] madiedgar opened #269 "Review Language: Urdu (Python)"
## Review Urdu Translations for Python

In order to review this language to the project, complete the steps detailed in the [translation guide](https://docs.legesher.io/legesher-translations/translation-guide) (from Step #6 onward). We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.

**Reviewing**

[2021-10-21 19:08] #263 closed

[2021-10-22 11:15] nik132-eng opened #271 "Add New Language: gujrati (javascript)"
## Adding LANGUAGE to the Legesher Translations for javascript

In order to add this language to the project, complete the steps detailed in [the translation guide](https://docs.legesher.io/legesher-translations/translation-guide). (We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.)

**To complet

[2021-10-24 00:47] natastro commented on #214
Hi @madiedgar ! Could I add an `es.yml` file with translations? 😊

[2021-10-24 04:30] #271 closed, assigned to nobody

[2021-10-24 18:42] TomerPacific opened #277 "Add New Language: Hebrew (Atom)"
Adding Hebrew to the Legesher Translations for Atom

In order to add this language to the project, complete the steps detailed in [the translation guide](https://docs.legesher.io/legesher-translations/translation-guide). (We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.)

**To complete this issu

[2021-10-24 18:53] Huica9 opened #278 "Review Language: LANGUAGE (Python)"
## Review LANGUAGE Translations for Python

In order to review this language to the project, complete the steps detailed in the [translation guide](https://docs.legesher.io/legesher-translations/translation-guide) (from Step #6 onward). We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.

**Reviewi

[2021-10-25 16:29] souravseal99 opened #279 "Add New Language: Bengali (Python)"
## Adding Bengali to the Legesher Translations for Python

In order to add this language to the project, complete the steps detailed in [the translation guide](https://docs.legesher.io/legesher-translations/translation-guide). (We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.)

**To complete thi

[2021-10-31 17:48] TomerPacific commented on #277
@madiedgar, I am unable to change the Language: Python label. Also, I have opened a PR for this issue.

[2021-11-04 02:16] #277 closed

[2021-11-05 03:26] #214 closed

[2021-11-05 03:35] natastro commented on #214
Hi @madiedgar ! Are we still able to continue contributing with translations? I've been preoccupied this week with grad school homework but would love to keep working on this this weekend 😊 thank you!

[2021-11-05 03:47] madiedgar commented on #214
Absolutely @natastro! Always happy to accept translation reviews. Let me know if you have any questions 👍

[2021-11-07 13:32] Ln11211 commented on #172
@madiedgar Can I please translate JAVA keywords into Telugu and Hindi?

[2021-11-10 21:21] madiedgar commented on #172
Hi @Ln11211 👋 , could you actually start the initial translation of the Python Builtin functions instead? That would be extremely helpful!

[2021-11-11 10:49] KarthikMothiki commented on #172
@madiedgar I translated built-in functions and keywords into Telugu. Created a PR!

[2021-11-14 07:39] SandipPalit opened #286 "Add New Language: Bengali (Python)"
## Adding LANGUAGE to the Legesher Translations for Python

In order to add this language to the project, complete the steps detailed in [the translation guide](https://docs.legesher.io/legesher-translations/translation-guide). (We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.)

**To complete th

[2021-11-15 04:28] madiedgar commented on #286
Awesome @SandipPalit ! I'll create the 'Bengali-translation' branch for you to merge your changes into. 👍🏾 let me know if you have any questions.

[2021-11-15 06:08] SandipPalit commented on #286
Thank You @madiedgar.

[2021-11-15 13:25] SandipPalit commented on #286
@madiedgar I have created the pull request. Please let me know if I need to make any changes.

[2021-11-17 06:49] #278 closed

[2021-11-17 06:58] #286 closed

[2021-11-17 07:01] madiedgar opened #288 "Review Language: Bengali (Python)"
## Review Bengali Translations for Python

In order to review this language to the project, complete the steps detailed in the [translation guide](https://docs.legesher.io/legesher-translations/translation-guide) (from Step #6 onward). We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.

**Reviewin

[2021-11-17 07:01] #279 closed

[2021-11-17 07:02] madiedgar commented on #288
Hey @souravseal99, you were interested in translating Bengali. Would love for you to be our first reviewer of the Python Keywords and Buildin Functions! Let me know if you have any questions.

[2021-11-17 07:03] madiedgar commented on #264
Hey @MartinOrl, let me know if I can help in any way. Excited to add Slovak to Legesher's repository!

[2021-12-13 06:15] varghesejose2020 commented on #255
intrested to review these project @madiedgar

[2021-12-13 20:24] madiedgar commented on #255
Awesome @varghesejose2020! I'll assign you to the issue. Let me know if you need any help along the way 👍

[2021-12-14 05:52] varghesejose2020 commented on #255
where can i find locale/ml.yml

[2021-12-14 17:23] madiedgar commented on #255
Hey @varghesejose2020, you'll need to go to the translation specific branch `Malayalam-translation` and it should be in the locale folder. 👍🏾

[2022-09-16 08:41] Sujithkumardola commented on #172
hey @madiedgar, i would like to contribute to this project.

[2022-10-01 12:14] Rutam21 opened #298 "Add New Language: ODIA(Python)"
## Adding ODIA to the Legesher Translations for Python

In order to add this language to the project, complete the steps detailed in [the translation guide](https://docs.legesher.io/legesher-translations/translation-guide). (We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.)

**To complete this i

[2022-10-01 12:14] Rutam21 commented on #298
#self-assign

[2022-10-01 12:15] Rutam21 commented on #298
/assign

[2022-10-01 12:21] Rutam21 commented on #298
@madiedgar Please review and assign this to me. Thanks. I am a native ORIYA(now called ODIA) speaker.

[2022-10-02 02:43] madiedgar commented on #298
Hi @Rutam21 👋 I created the `oriya-translation` branch for you to merge your changes to. Let me know if you need any help along the way!

[2022-10-07 21:29] minna-xD opened #301 "Add New Language: Finnish (Python, builtin functions)"
## Updating (supplementing) FINNISH in the Legesher Translations for Python

In order to add this language to the project, complete the steps detailed in [the translation guide](https://docs.legesher.io/legesher-translations/translation-guide). (We are primarily working developing Legesher for the Python programming language. In the future we hope to add more programming languages in the future.)